quu-ea-prd-da-adf-001/PartialArmTemplates/ArmTemplate_10_6_2020_10_14_8.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "quu-ea-prd-da-adf-001"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/PL_EDW_Mart_FinanceTransaction')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "dim_supplier",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[Mart].[usp_load_Dim_Supplier]",
							"storedProcedureParameters": {
								"from_dtm": {
									"value": null,
									"type": "DateTime"
								},
								"isdeltaload": {
									"value": "0",
									"type": "Byte"
								},
								"row_execution_id": {
									"value": {
										"value": "@pipeline().RunId",
										"type": "Expression"
									},
									"type": "String"
								},
								"sourcename": {
									"value": {
										"value": "@pipeline().parameters.sourcename",
										"type": "Expression"
									},
									"type": "String"
								},
								"to_dtm": {
									"value": null,
									"type": "DateTime"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "LS_ASQL_EDWMart",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "dim_stock",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[Mart].[usp_load_Dim_Stock]",
							"storedProcedureParameters": {
								"from_dtm": {
									"value": null,
									"type": "DateTime"
								},
								"isdeltaload": {
									"value": "0",
									"type": "Byte"
								},
								"row_execution_id": {
									"value": {
										"value": "@pipeline().RunId",
										"type": "Expression"
									},
									"type": "String"
								},
								"sourcename": {
									"value": {
										"value": "@pipeline().parameters.sourcename",
										"type": "Expression"
									},
									"type": "String"
								},
								"to_dtm": {
									"value": null,
									"type": "DateTime"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "LS_ASQL_EDWMart",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "dim_transactiontype",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[Mart].[usp_load_Dim_TransactionType]",
							"storedProcedureParameters": {
								"from_dtm": {
									"value": null,
									"type": "DateTime"
								},
								"isdeltaload": {
									"value": "0",
									"type": "Byte"
								},
								"row_execution_id": {
									"value": {
										"value": "@pipeline().RunId",
										"type": "Expression"
									},
									"type": "String"
								},
								"sourcename": {
									"value": {
										"value": "@pipeline().parameters.sourcename",
										"type": "Expression"
									},
									"type": "String"
								},
								"to_dtm": {
									"value": null,
									"type": "DateTime"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "LS_ASQL_EDWMart",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "dim_project",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "dim_statistictype",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[Mart].[usp_load_Dim_Project]",
							"storedProcedureParameters": {
								"from_dtm": {
									"value": null,
									"type": "DateTime"
								},
								"isdeltaload": {
									"value": "0",
									"type": "Byte"
								},
								"row_execution_id": {
									"value": {
										"value": "@pipeline().RunId",
										"type": "Expression"
									},
									"type": "String"
								},
								"sourcename": {
									"value": {
										"value": "@pipeline().parameters.sourcename",
										"type": "Expression"
									},
									"type": "String"
								},
								"to_dtm": {
									"value": null,
									"type": "DateTime"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "LS_ASQL_EDWMart",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "dim_postingaccount",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[Mart].[usp_load_Dim_PostingAccount]",
							"storedProcedureParameters": {
								"from_dtm": {
									"value": null,
									"type": "DateTime"
								},
								"isdeltaload": {
									"value": "0",
									"type": "Byte"
								},
								"row_execution_id": {
									"value": {
										"value": "@pipeline().RunId",
										"type": "Expression"
									},
									"type": "String"
								},
								"sourcename": {
									"value": {
										"value": "@pipeline().parameters.sourcename",
										"type": "Expression"
									},
									"type": "String"
								},
								"to_dtm": {
									"value": null,
									"type": "DateTime"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "LS_ASQL_EDWMart",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "dim_expenseelement",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[Mart].[usp_load_Dim_ExpenseElement]",
							"storedProcedureParameters": {
								"from_dtm": {
									"value": null,
									"type": "DateTime"
								},
								"isdeltaload": {
									"value": "0",
									"type": "Byte"
								},
								"row_execution_id": {
									"value": {
										"value": "@pipeline().RunId",
										"type": "Expression"
									},
									"type": "String"
								},
								"sourcename": {
									"value": {
										"value": "@pipeline().parameters.sourcename",
										"type": "Expression"
									},
									"type": "String"
								},
								"to_dtm": {
									"value": null,
									"type": "DateTime"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "LS_ASQL_EDWMart",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "dim_costcategory",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[Mart].[usp_load_Dim_CostCategory]",
							"storedProcedureParameters": {
								"from_dtm": {
									"value": null,
									"type": "DateTime"
								},
								"isdeltaload": {
									"value": "0",
									"type": "Byte"
								},
								"row_execution_id": {
									"value": {
										"value": "@pipeline().RunId",
										"type": "Expression"
									},
									"type": "String"
								},
								"sourcename": {
									"value": {
										"value": "@pipeline().parameters.sourcename",
										"type": "Expression"
									},
									"type": "String"
								},
								"to_dtm": {
									"value": null,
									"type": "DateTime"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "LS_ASQL_EDWMart",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "dim_subasset",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "dim_supplier",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[Mart].[usp_load_Dim_SubAsset]",
							"storedProcedureParameters": {
								"from_dtm": {
									"value": null,
									"type": "DateTime"
								},
								"isdeltaload": {
									"value": "0",
									"type": "Byte"
								},
								"row_execution_id": {
									"value": {
										"value": "@pipeline().RunId",
										"type": "Expression"
									},
									"type": "String"
								},
								"sourcename": {
									"value": {
										"value": "@pipeline().parameters.sourcename",
										"type": "Expression"
									},
									"type": "String"
								},
								"to_dtm": {
									"value": null,
									"type": "DateTime"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "LS_ASQL_EDWMart",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "dim_employee",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "dim_stock",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[Mart].[usp_load_Dim_Employee]",
							"storedProcedureParameters": {
								"from_dtm": {
									"value": null,
									"type": "DateTime"
								},
								"isdeltaload": {
									"value": "0",
									"type": "Byte"
								},
								"row_execution_id": {
									"value": {
										"value": "@pipeline().RunId",
										"type": "Expression"
									},
									"type": "String"
								},
								"sourcename": {
									"value": {
										"value": "@pipeline().parameters.sourcename",
										"type": "Expression"
									},
									"type": "String"
								},
								"to_dtm": {
									"value": null,
									"type": "DateTime"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "LS_ASQL_EDWMart",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "dim_resourcetype",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "dim_transactiontype",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[Mart].[usp_load_Dim_ResourceType]",
							"storedProcedureParameters": {
								"from_dtm": {
									"value": null,
									"type": "DateTime"
								},
								"isdeltaload": {
									"value": "0",
									"type": "Byte"
								},
								"row_execution_id": {
									"value": {
										"value": "@pipeline().RunId",
										"type": "Expression"
									},
									"type": "String"
								},
								"sourcename": {
									"value": {
										"value": "@pipeline().parameters.sourcename",
										"type": "Expression"
									},
									"type": "String"
								},
								"to_dtm": {
									"value": null,
									"type": "DateTime"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "LS_ASQL_EDWMart",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "dim_statistictype",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[Mart].[usp_load_Dim_StatisticType]",
							"storedProcedureParameters": {
								"from_dtm": {
									"value": null,
									"type": "DateTime"
								},
								"isdeltaload": {
									"value": "0",
									"type": "Byte"
								},
								"row_execution_id": {
									"value": {
										"value": "@pipeline().RunId",
										"type": "Expression"
									},
									"type": "String"
								},
								"sourcename": {
									"value": {
										"value": "@pipeline().parameters.sourcename",
										"type": "Expression"
									},
									"type": "String"
								},
								"to_dtm": {
									"value": null,
									"type": "DateTime"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "LS_ASQL_EDWMart",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "dim_earningsclass",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "dim_postingaccount",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[Mart].[usp_load_Dim_EarningsClass]",
							"storedProcedureParameters": {
								"from_dtm": {
									"value": null,
									"type": "DateTime"
								},
								"isdeltaload": {
									"value": "0",
									"type": "Byte"
								},
								"row_execution_id": {
									"value": {
										"value": "@pipeline().RunId",
										"type": "Expression"
									},
									"type": "String"
								},
								"sourcename": {
									"value": {
										"value": "@pipeline().parameters.sourcename",
										"type": "Expression"
									},
									"type": "String"
								},
								"to_dtm": {
									"value": null,
									"type": "DateTime"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "LS_ASQL_EDWMart",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "dim_labourcostclass",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "dim_expenseelement",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[Mart].[usp_load_Dim_LabourCostClass]",
							"storedProcedureParameters": {
								"from_dtm": {
									"value": null,
									"type": "DateTime"
								},
								"isdeltaload": {
									"value": "0",
									"type": "Byte"
								},
								"row_execution_id": {
									"value": {
										"value": "@pipeline().RunId",
										"type": "Expression"
									},
									"type": "String"
								},
								"sourcename": {
									"value": {
										"value": "@pipeline().parameters.sourcename",
										"type": "Expression"
									},
									"type": "String"
								},
								"to_dtm": {
									"value": null,
									"type": "DateTime"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "LS_ASQL_EDWMart",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "dim_balancetype",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "dim_costcategory",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[Mart].[usp_load_Dim_BalanceType]",
							"storedProcedureParameters": {
								"from_dtm": {
									"value": null,
									"type": "DateTime"
								},
								"isdeltaload": {
									"value": "0",
									"type": "Byte"
								},
								"row_execution_id": {
									"value": {
										"value": "@pipeline().RunId",
										"type": "Expression"
									},
									"type": "String"
								},
								"sourcename": {
									"value": {
										"value": "@pipeline().parameters.sourcename",
										"type": "Expression"
									},
									"type": "String"
								},
								"to_dtm": {
									"value": null,
									"type": "DateTime"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "LS_ASQL_EDWMart",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "dim_gl_transaction",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "dim_subasset",
								"dependencyConditions": [
									"Completed"
								]
							},
							{
								"activity": "dim_employee",
								"dependencyConditions": [
									"Completed"
								]
							},
							{
								"activity": "dim_resourcetype",
								"dependencyConditions": [
									"Completed"
								]
							},
							{
								"activity": "dim_earningsclass",
								"dependencyConditions": [
									"Completed"
								]
							},
							{
								"activity": "dim_labourcostclass",
								"dependencyConditions": [
									"Completed"
								]
							},
							{
								"activity": "dim_balancetype",
								"dependencyConditions": [
									"Completed"
								]
							},
							{
								"activity": "dim_project",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[Mart].[usp_load_Dim_GL_Transaction]",
							"storedProcedureParameters": {
								"from_dtm": {
									"value": null,
									"type": "DateTime"
								},
								"isdeltaload": {
									"value": "0",
									"type": "Byte"
								},
								"row_execution_id": {
									"value": {
										"value": "@pipeline().RunId",
										"type": "Expression"
									},
									"type": "String"
								},
								"sourcename": {
									"value": {
										"value": "@pipeline().parameters.sourcename",
										"type": "Expression"
									},
									"type": "String"
								},
								"to_dtm": {
									"value": null,
									"type": "DateTime"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "LS_ASQL_EDWMart",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "fact_gl_transaction",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "dim_gl_transaction",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[Mart].[usp_load_Fact_GL_Transaction]",
							"storedProcedureParameters": {
								"from_dtm": {
									"value": null,
									"type": "DateTime"
								},
								"isdeltaload": {
									"value": "0",
									"type": "Byte"
								},
								"row_execution_id": {
									"value": {
										"value": "@pipeline().RunId",
										"type": "Expression"
									},
									"type": "String"
								},
								"sourcename": {
									"value": {
										"value": "@pipeline().parameters.sourcename",
										"type": "Expression"
									},
									"type": "String"
								},
								"to_dtm": {
									"value": null,
									"type": "DateTime"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "LS_ASQL_EDWMart",
							"type": "LinkedServiceReference"
						}
					}
				],
				"parameters": {
					"sourcename": {
						"type": "string",
						"defaultValue": "Ellipse9"
					}
				},
				"folder": {
					"name": "WorkOrder-Model"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/PL_EDW_Mart_WorkOrder')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "dim_burstmain",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[Mart].[usp_load_Dim_BurstMain]",
							"storedProcedureParameters": {
								"from_dtm": {
									"value": null,
									"type": "DateTime"
								},
								"isdeltaload": {
									"value": "0",
									"type": "Byte"
								},
								"row_execution_id": {
									"value": {
										"value": "@pipeline().RunId",
										"type": "Expression"
									},
									"type": "String"
								},
								"sourcename": {
									"value": "Ellipse5",
									"type": "String"
								},
								"to_dtm": {
									"value": null,
									"type": "DateTime"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "LS_ASQL_EDWMart",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "dim_date",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[Mart].[usp_load_Dim_Date]",
							"storedProcedureParameters": {
								"from_dtm": {
									"value": null,
									"type": "DateTime"
								},
								"isdeltaload": {
									"value": "0",
									"type": "Byte"
								},
								"row_execution_id": {
									"value": {
										"value": "@pipeline().RunId",
										"type": "Expression"
									},
									"type": "String"
								},
								"sourcename": {
									"value": null,
									"type": "String"
								},
								"to_dtm": {
									"value": null,
									"type": "DateTime"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "LS_ASQL_EDWMart",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "dim_maintenancetype",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[Mart].[usp_load_Dim_MaintenanceType]",
							"storedProcedureParameters": {
								"from_dtm": {
									"value": null,
									"type": "DateTime"
								},
								"isdeltaload": {
									"value": "0",
									"type": "Byte"
								},
								"row_execution_id": {
									"value": {
										"value": "@pipeline().RunId",
										"type": "Expression"
									},
									"type": "String"
								},
								"sourcename": {
									"value": {
										"value": "@pipeline().parameters.sourcename",
										"type": "Expression"
									},
									"type": "String"
								},
								"to_dtm": {
									"value": null,
									"type": "DateTime"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "LS_ASQL_EDWMart",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "dim_product",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[Mart].[usp_load_Dim_Product]",
							"storedProcedureParameters": {
								"from_dtm": {
									"value": null,
									"type": "DateTime"
								},
								"isdeltaload": {
									"value": "0",
									"type": "Byte"
								},
								"row_execution_id": {
									"value": {
										"value": "@pipeline().RunId",
										"type": "Expression"
									},
									"type": "String"
								},
								"sourcename": {
									"value": {
										"value": "@pipeline().parameters.sourcename",
										"type": "Expression"
									},
									"type": "String"
								},
								"to_dtm": {
									"value": null,
									"type": "DateTime"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "LS_ASQL_EDWMart",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "dim_servicearea",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[Mart].[usp_load_Dim_ServiceArea]",
							"storedProcedureParameters": {
								"from_dtm": {
									"value": null,
									"type": "DateTime"
								},
								"isdeltaload": {
									"value": "0",
									"type": "Byte"
								},
								"row_execution_id": {
									"value": {
										"value": "@pipeline().RunId",
										"type": "Expression"
									},
									"type": "String"
								},
								"sourcename": {
									"value": {
										"value": "MDS",
										"type": "Expression"
									},
									"type": "String"
								},
								"to_dtm": {
									"value": null,
									"type": "DateTime"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "LS_ASQL_EDWMart",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "dim_userstatus",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[Mart].[usp_load_Dim_UserStatus]",
							"storedProcedureParameters": {
								"from_dtm": {
									"value": null,
									"type": "DateTime"
								},
								"isdeltaload": {
									"value": "0",
									"type": "Byte"
								},
								"row_execution_id": {
									"value": {
										"value": "@pipeline().RunId",
										"type": "Expression"
									},
									"type": "String"
								},
								"sourcename": {
									"value": {
										"value": "@pipeline().parameters.sourcename",
										"type": "Expression"
									},
									"type": "String"
								},
								"to_dtm": {
									"value": null,
									"type": "DateTime"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "LS_ASQL_EDWMart",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "dim_workcategory",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[Mart].[usp_load_Dim_WorkCategory]",
							"storedProcedureParameters": {
								"from_dtm": {
									"value": null,
									"type": "DateTime"
								},
								"isdeltaload": {
									"value": "0",
									"type": "Byte"
								},
								"row_execution_id": {
									"value": {
										"value": "@pipeline().RunId",
										"type": "Expression"
									},
									"type": "String"
								},
								"sourcename": {
									"value": {
										"value": "@pipeline().parameters.sourcename",
										"type": "Expression"
									},
									"type": "String"
								},
								"to_dtm": {
									"value": null,
									"type": "DateTime"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "LS_ASQL_EDWMart",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "dim_workgroup",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "dim_burstmain",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[Mart].[usp_load_Dim_WorkGroup]",
							"storedProcedureParameters": {
								"from_dtm": {
									"value": null,
									"type": "DateTime"
								},
								"isdeltaload": {
									"value": "0",
									"type": "Byte"
								},
								"row_execution_id": {
									"value": {
										"value": "@pipeline().RunId",
										"type": "Expression"
									},
									"type": "String"
								},
								"sourcename": {
									"value": {
										"value": "@pipeline().parameters.sourcename",
										"type": "Expression"
									},
									"type": "String"
								},
								"to_dtm": {
									"value": null,
									"type": "DateTime"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "LS_ASQL_EDWMart",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "dim_workordertype",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "dim_date",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[Mart].[usp_load_Dim_WorkOrderType]",
							"storedProcedureParameters": {
								"from_dtm": {
									"value": null,
									"type": "DateTime"
								},
								"isdeltaload": {
									"value": "0",
									"type": "Byte"
								},
								"row_execution_id": {
									"value": {
										"value": "@pipeline().RunId",
										"type": "Expression"
									},
									"type": "String"
								},
								"sourcename": {
									"value": {
										"value": "@pipeline().parameters.sourcename",
										"type": "Expression"
									},
									"type": "String"
								},
								"to_dtm": {
									"value": null,
									"type": "DateTime"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "LS_ASQL_EDWMart",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "dim_workpriority",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "dim_maintenancetype",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[Mart].[usp_load_Dim_WorkPriority]",
							"storedProcedureParameters": {
								"from_dtm": {
									"value": null,
									"type": "DateTime"
								},
								"isdeltaload": {
									"value": "0",
									"type": "Byte"
								},
								"row_execution_id": {
									"value": {
										"value": "@pipeline().RunId",
										"type": "Expression"
									},
									"type": "String"
								},
								"sourcename": {
									"value": {
										"value": "@pipeline().parameters.sourcename",
										"type": "Expression"
									},
									"type": "String"
								},
								"to_dtm": {
									"value": null,
									"type": "DateTime"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "LS_ASQL_EDWMart",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "dim_legalentity",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "dim_product",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[Mart].[usp_load_Dim_LegalEntity]",
							"storedProcedureParameters": {
								"from_dtm": {
									"value": null,
									"type": "DateTime"
								},
								"isdeltaload": {
									"value": "0",
									"type": "Byte"
								},
								"row_execution_id": {
									"value": {
										"value": "@pipeline().RunId",
										"type": "Expression"
									},
									"type": "String"
								},
								"sourcename": {
									"value": {
										"value": "@pipeline().parameters.sourcename",
										"type": "Expression"
									},
									"type": "String"
								},
								"to_dtm": {
									"value": null,
									"type": "DateTime"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "LS_ASQL_EDWMart",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "dim_workorderattributes",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "dim_servicearea",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[Mart].[usp_load_Dim_WorkOrderAttributes]",
							"storedProcedureParameters": {
								"from_dtm": {
									"value": null,
									"type": "DateTime"
								},
								"isdeltaload": {
									"value": "0",
									"type": "Byte"
								},
								"row_execution_id": {
									"value": {
										"value": "@pipeline().RunId",
										"type": "Expression"
									},
									"type": "String"
								},
								"sourcename": {
									"value": {
										"value": "@pipeline().parameters.sourcename",
										"type": "Expression"
									},
									"type": "String"
								},
								"to_dtm": {
									"value": null,
									"type": "DateTime"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "LS_ASQL_EDWMart",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "dim_workordercomment",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "dim_userstatus",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[Mart].[usp_load_Dim_WorkOrderComment]",
							"storedProcedureParameters": {
								"from_dtm": {
									"value": null,
									"type": "DateTime"
								},
								"isdeltaload": {
									"value": "0",
									"type": "Byte"
								},
								"row_execution_id": {
									"value": {
										"value": "@pipeline().RunId",
										"type": "Expression"
									},
									"type": "String"
								},
								"sourcename": {
									"value": {
										"value": "@pipeline().parameters.sourcename",
										"type": "Expression"
									},
									"type": "String"
								},
								"to_dtm": {
									"value": null,
									"type": "DateTime"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "LS_ASQL_EDWMart",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "dim_workrequestcomment",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "dim_workcategory",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[Mart].[usp_load_Dim_WorkRequestComment]",
							"storedProcedureParameters": {
								"from_dtm": {
									"value": null,
									"type": "DateTime"
								},
								"isdeltaload": {
									"value": "0",
									"type": "Byte"
								},
								"row_execution_id": {
									"value": {
										"value": "@pipeline().RunId",
										"type": "Expression"
									},
									"type": "String"
								},
								"sourcename": {
									"value": {
										"value": "@pipeline().parameters.sourcename",
										"type": "Expression"
									},
									"type": "String"
								},
								"to_dtm": {
									"value": null,
									"type": "DateTime"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "LS_ASQL_EDWMart",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "dim_location",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "dim_workgroup",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "dim_workordertype",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "dim_workpriority",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "dim_legalentity",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "dim_workorderattributes",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "dim_workordercomment",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "dim_workrequestcomment",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[Mart].[usp_load_Dim_Location]",
							"storedProcedureParameters": {
								"from_dtm": {
									"value": null,
									"type": "DateTime"
								},
								"isdeltaload": {
									"value": "0",
									"type": "Byte"
								},
								"row_execution_id": {
									"value": {
										"value": "@pipeline().RunId",
										"type": "Expression"
									},
									"type": "String"
								},
								"sourcename": {
									"value": {
										"value": "@pipeline().parameters.sourcename",
										"type": "Expression"
									},
									"type": "String"
								},
								"to_dtm": {
									"value": null,
									"type": "DateTime"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "LS_ASQL_EDWMart",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "dim_equipment",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "dim_location",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[Mart].[usp_load_Dim_Equipment]",
							"storedProcedureParameters": {
								"from_dtm": {
									"value": null,
									"type": "DateTime"
								},
								"isdeltaload": {
									"value": "0",
									"type": "Byte"
								},
								"row_execution_id": {
									"value": {
										"value": "@pipeline().RunId",
										"type": "Expression"
									},
									"type": "String"
								},
								"sourcename": {
									"value": {
										"value": "@pipeline().parameters.sourcename",
										"type": "Expression"
									},
									"type": "String"
								},
								"to_dtm": {
									"value": null,
									"type": "DateTime"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "LS_ASQL_EDWMart",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "dim_workrequest",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "dim_location",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[Mart].[usp_load_Dim_WorkRequest]",
							"storedProcedureParameters": {
								"from_dtm": {
									"value": null,
									"type": "DateTime"
								},
								"isdeltaload": {
									"value": "0",
									"type": "Byte"
								},
								"row_execution_id": {
									"value": {
										"value": "@pipeline().RunId",
										"type": "Expression"
									},
									"type": "String"
								},
								"sourcename": {
									"value": {
										"value": "@pipeline().parameters.sourcename",
										"type": "Expression"
									},
									"type": "String"
								},
								"to_dtm": {
									"value": null,
									"type": "DateTime"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "LS_ASQL_EDWMart",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "dim_workorder",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "dim_equipment",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "dim_workrequest",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[Mart].[usp_load_Dim_WorkOrder]",
							"storedProcedureParameters": {
								"from_dtm": {
									"value": null,
									"type": "DateTime"
								},
								"isdeltaload": {
									"value": "0",
									"type": "Byte"
								},
								"row_execution_id": {
									"value": {
										"value": "@pipeline().RunId",
										"type": "Expression"
									},
									"type": "String"
								},
								"sourcename": {
									"value": {
										"value": "@pipeline().parameters.sourcename",
										"type": "Expression"
									},
									"type": "String"
								},
								"to_dtm": {
									"value": null,
									"type": "DateTime"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "LS_ASQL_EDWMart",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "fact_workorder",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "dim_workorder",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[Mart].[usp_load_Fact_WorkOrder]",
							"storedProcedureParameters": {
								"from_dtm": {
									"value": null,
									"type": "DateTime"
								},
								"isdeltaload": {
									"value": "0",
									"type": "Byte"
								},
								"row_execution_id": {
									"value": {
										"value": "@pipeline().RunId",
										"type": "Expression"
									},
									"type": "String"
								},
								"sourcename": {
									"value": {
										"value": "@pipeline().parameters.sourcename",
										"type": "Expression"
									},
									"type": "String"
								},
								"to_dtm": {
									"value": null,
									"type": "DateTime"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "LS_ASQL_EDWMart",
							"type": "LinkedServiceReference"
						}
					}
				],
				"parameters": {
					"sourcename": {
						"type": "string",
						"defaultValue": "Ellipse9"
					}
				},
				"folder": {
					"name": "WorkOrder-Model"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/PL_WorkOrder_Model_Main')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "PL_EDW_Mart_WorkOrder",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "PL_EDW_Mart_WorkOrder",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"sourcename": "Ellipse9"
							}
						}
					},
					{
						"name": "PL_WorkOrder_FinanceTransaction",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "PL_EDW_Mart_WorkOrder",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "PL_EDW_Mart_FinanceTransaction",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"sourcename": "Ellipse9"
							}
						}
					}
				],
				"folder": {
					"name": "WorkOrder-Model"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/PL_EDW_Mart_WorkOrder')]",
				"[concat(variables('factoryId'), '/pipelines/PL_EDW_Mart_FinanceTransaction')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/WorkOrder_DataModel_Daily_Trigger')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "updating dimensional work order tables in edw_mart",
				"annotations": [],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "PL_WorkOrder_Model_Main",
							"type": "PipelineReference"
						}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Day",
						"interval": 1,
						"startTime": "2020-07-28T06:52:00.000Z",
						"timeZone": "UTC",
						"schedule": {
							"minutes": [
								0
							],
							"hours": [
								23
							]
						}
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/PL_WorkOrder_Model_Main')]"
			]
		}
	]
}