pipeline/Archive_delete_JSONFiles.json
{
	"name": "Archive_delete_JSONFiles",
	"properties": {
		"activities": [
			{
				"name": "GetFileNames",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "DS_ABLB_srcLanding_FileExists",
						"type": "DatasetReference",
						"parameters": {
							"blobcontainer": {
								"value": "@pipeline().parameters.BlobContainer",
								"type": "Expression"
							},
							"blobfolderpath": {
								"value": "@pipeline().parameters.FilePath",
								"type": "Expression"
							}
						}
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "JsonReadSettings"
					}
				}
			},
			{
				"name": "Archive_Delete_loop",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "FilterOnlyjsonFiles",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('FilterOnlyjsonFiles').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Archive_proccessed_jsons",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "JsonSource",
									"storeSettings": {
										"type": "AzureBlobStorageReadSettings",
										"recursive": false,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "JsonReadSettings"
									}
								},
								"sink": {
									"type": "JsonSink",
									"storeSettings": {
										"type": "AzureBlobStorageWriteSettings"
									},
									"formatSettings": {
										"type": "JsonWriteSettings"
									}
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "DS_ABLB_srclanding_json_source",
									"type": "DatasetReference",
									"parameters": {
										"Sourceblobfoldername": {
											"value": "@concat(pipeline().parameters.BlobContainer,'/',pipeline().parameters.FilePath)",
											"type": "Expression"
										},
										"Sourceblobfilename": {
											"value": "@item().name",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "DS_ABLB_srclanding_json_source",
									"type": "DatasetReference",
									"parameters": {
										"Sourceblobfoldername": {
											"value": "@concat(pipeline().parameters.BlobContainer,'/',pipeline().parameters.FilePath,'/Archived')",
											"type": "Expression"
										},
										"Sourceblobfilename": {
											"value": "@item().name",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "Delete_files_after_archival",
							"type": "Delete",
							"dependsOn": [
								{
									"activity": "Archive_proccessed_jsons",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataset": {
									"referenceName": "DS_ABLB_srclanding_json_source",
									"type": "DatasetReference",
									"parameters": {
										"Sourceblobfoldername": {
											"value": "@concat(pipeline().parameters.BlobContainer,'/',pipeline().parameters.FilePath)",
											"type": "Expression"
										},
										"Sourceblobfilename": {
											"value": "@item().name",
											"type": "Expression"
										}
									}
								},
								"enableLogging": false,
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": false,
									"enablePartitionDiscovery": false
								}
							}
						}
					]
				}
			},
			{
				"name": "FilterOnlyjsonFiles",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "GetFileNames",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('GetFileNames').output.childitems",
						"type": "Expression"
					},
					"condition": {
						"value": "@endswith(item().name, 'json')",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"BlobContainer": {
				"type": "string",
				"defaultValue": "eforms-datalanding/"
			},
			"FilePath": {
				"type": "string",
				"defaultValue": "ef039"
			}
		},
		"folder": {
			"name": "eForms"
		},
		"annotations": [],
		"lastPublishTime": "2022-04-19T00:29:11Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}