pipeline/PL_04_Metadata_Automation_CreateMetadataTables.json
{
	"name": "PL_04_Metadata_Automation_CreateMetadataTables",
	"properties": {
		"activities": [
			{
				"name": "ExecuteSourceDetailsScript",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "GetSourceDetailsScript",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "sp_executesql",
					"storedProcedureParameters": {
						"statement": {
							"value": {
								"value": "@string(activity('GetSourceDetailsScript').output.firstRow['Prop_0'])",
								"type": "Expression"
							},
							"type": "string"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "LS_ASQL",
					"type": "LinkedServiceReference",
					"parameters": {
						"database_name": "edw_discovery"
					}
				}
			},
			{
				"name": "ExecuteColumnSchemaScript",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "GetColumnSchemaScript",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "edw_discovery",
					"storedProcedureParameters": {
						"statement": {
							"value": {
								"value": "@string(activity('GetColumnSchemaScript').output.firstRow['Prop_0'])",
								"type": "Expression"
							},
							"type": "string"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "LS_ASQL",
					"type": "LinkedServiceReference",
					"parameters": {
						"database_name": "sp_executesql"
					}
				}
			},
			{
				"name": "ExecuteBusinessKeyScript",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "GetBusinessKeyScript",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "sp_executesql",
					"storedProcedureParameters": {
						"statement": {
							"value": {
								"value": "@string(activity('GetBusinessKeyScript').output.firstRow['Prop_0'])",
								"type": "Expression"
							},
							"type": "string"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "LS_ASQL",
					"type": "LinkedServiceReference",
					"parameters": {
						"database_name": "edw_discovery"
					}
				}
			},
			{
				"name": "ArchieveFiles",
				"type": "DatabricksNotebook",
				"dependsOn": [
					{
						"activity": "ExecuteColumnSchemaScript",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "ExecuteBusinessKeyScript",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/edw_discovery/ETLAutomation/ArchieveFiles",
					"baseParameters": {
						"SourceName": {
							"value": "@pipeline().parameters.Source_Name",
							"type": "Expression"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "LS_DBR_ADF_Job_Cluster",
					"type": "LinkedServiceReference",
					"parameters": {
						"databricksclusterid": {
							"value": "@pipeline().parameters.databricksclusterid",
							"type": "Expression"
						},
						"databrickssecretname": {
							"value": "@pipeline().parameters.databrickssecretname",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "GetSourceDetailsScript",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": false,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"dataset": {
						"referenceName": "DS_ETLAutomation",
						"type": "DatasetReference",
						"parameters": {
							"FolderPath": {
								"value": "@concat('etlautomation-metadata/ETLAutomation/Scripts/',pipeline().parameters.Source_Name)",
								"type": "Expression"
							},
							"TargetFileName": {
								"value": "@concat('02_insert_',pipeline().parameters.Source_Name,'_SourceTableDetails.sql')",
								"type": "Expression"
							},
							"ColumnDelimiter": "‡",
							"QuoteCharacter": "\""
						}
					},
					"firstRowOnly": true
				}
			},
			{
				"name": "GetColumnSchemaScript",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "ExecuteSourceDetailsScript",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": false,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"dataset": {
						"referenceName": "DS_ETLAutomation",
						"type": "DatasetReference",
						"parameters": {
							"FolderPath": {
								"value": "@concat('etlautomation-metadata/ETLAutomation/Scripts/',pipeline().parameters.Source_Name)",
								"type": "Expression"
							},
							"TargetFileName": {
								"value": "@concat('03_insert_',pipeline().parameters.Source_Name,'_SourceTableColumnSchema.sql')",
								"type": "Expression"
							},
							"ColumnDelimiter": "‡",
							"QuoteCharacter": "\""
						}
					},
					"firstRowOnly": true
				}
			},
			{
				"name": "GetBusinessKeyScript",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "ExecuteSourceDetailsScript",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": false,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"dataset": {
						"referenceName": "DS_ETLAutomation",
						"type": "DatasetReference",
						"parameters": {
							"FolderPath": {
								"value": "@concat('etlautomation-metadata/ETLAutomation/Scripts/',pipeline().parameters.Source_Name)",
								"type": "Expression"
							},
							"TargetFileName": {
								"value": "@concat('04_insert_',pipeline().parameters.Source_Name,'_SourceTableBusinessKey.sql')",
								"type": "Expression"
							},
							"ColumnDelimiter": "‡",
							"QuoteCharacter": "\""
						}
					},
					"firstRowOnly": true
				}
			}
		],
		"parameters": {
			"Schema_Name": {
				"type": "string",
				"defaultValue": "Liwis"
			},
			"Source_Name": {
				"type": "string",
				"defaultValue": "LIWIS"
			},
			"databricksclusterid": {
				"type": "string",
				"defaultValue": "0219-041522-ochre808"
			},
			"databrickssecretname": {
				"type": "string",
				"defaultValue": "databricks2-token"
			}
		},
		"variables": {
			"FilteredTable": {
				"type": "Array"
			},
			"SourceID": {
				"type": "String"
			}
		},
		"folder": {
			"name": "MetadataAutomation"
		},
		"annotations": [],
		"lastPublishTime": "2022-04-19T00:29:18Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}