pipeline/PL_02_Metadata_CreateDestinationTable_InputFile.json
{
	"name": "PL_02_Metadata_CreateDestinationTable_InputFile",
	"properties": {
		"activities": [
			{
				"name": "ForEachCreateFIle",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "GetCreateTableScripts",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('GetCreateTableScripts').output.value",
						"type": "Expression"
					},
					"batchCount": 50,
					"activities": [
						{
							"name": "ExecuteCreateScripts",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "sp_executesql",
								"storedProcedureParameters": {
									"statement": {
										"value": {
											"value": "@string(item().Prop_0)",
											"type": "Expression"
										},
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "LS_ASQL",
								"type": "LinkedServiceReference",
								"parameters": {
									"database_name": "edw_discovery"
								}
							}
						}
					]
				}
			},
			{
				"name": "GenerateETLAutomationMetadata",
				"type": "DatabricksNotebook",
				"dependsOn": [
					{
						"activity": "ForEachCreateFIle",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/edw_discovery/ETLAutomation/MergeETLAutomationFiles",
					"baseParameters": {
						"SourceName": {
							"value": "@pipeline().parameters.SourceName",
							"type": "Expression"
						},
						"SchemaName": {
							"value": "@pipeline().parameters.Source_Schema",
							"type": "Expression"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "LS_DBR_ADF_Job_Cluster",
					"type": "LinkedServiceReference",
					"parameters": {
						"databricksclusterid": {
							"value": "@pipeline().parameters.databricksclusterid",
							"type": "Expression"
						},
						"databrickssecretname": {
							"value": "@pipeline().parameters.databrickssecretname",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "GetCreateTableScripts",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": false,
							"wildcardFileName": "*.sql",
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"dataset": {
						"referenceName": "DS_ETLAutomation",
						"type": "DatasetReference",
						"parameters": {
							"FolderPath": {
								"value": "@concat('etlautomation-metadata/ETLAutomation/Scripts/',pipeline().parameters.Source_Schema,'/Tables')",
								"type": "Expression"
							},
							"TargetFileName": "*.sql",
							"ColumnDelimiter": "‡",
							"QuoteCharacter": "\""
						}
					},
					"firstRowOnly": false
				}
			}
		],
		"parameters": {
			"SourceName": {
				"type": "string",
				"defaultValue": "Ellipse9"
			},
			"Source_Schema": {
				"type": "string",
				"defaultValue": "Ellipse9"
			},
			"databricksclusterid": {
				"type": "string",
				"defaultValue": "0219-041522-ochre808"
			},
			"databrickssecretname": {
				"type": "string",
				"defaultValue": "databricks2-token"
			}
		},
		"folder": {
			"name": "MetadataAutomation"
		},
		"annotations": [],
		"lastPublishTime": "2022-04-19T00:29:19Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}