pipeline/PL_BOM_DM_SourcetoBlob.json
{
	"name": "PL_BOM_DM_SourcetoBlob",
	"properties": {
		"activities": [
			{
				"name": "Lkp_LocalDates",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "select substring(dbo.udf_covert_utc_to_local_Datetime(getdate()), 1,4)  as  currentyear\n\t,substring(dbo.udf_covert_utc_to_local_Datetime(getdate()),6,2)  as  currentmonth\n\t,substring(dbo.udf_covert_utc_to_local_Datetime(getdate()),9,2)  as  currentdayofmonth\n\t,substring(dbo.udf_covert_utc_to_local_Datetime(dateadd(DAY,-1,getdate())), 1,4)  as  yesterdayyear\n\t,substring(dbo.udf_covert_utc_to_local_Datetime(dateadd(DAY,-1,getdate())),6,2)  as  yesterdaymonth\n\t,substring(dbo.udf_covert_utc_to_local_Datetime(dateadd(DAY,-1,getdate())),9,2)  as  yesterdaydayofmonth"
					},
					"dataset": {
						"referenceName": "DS_ASQL_EDWDiscovery",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Lkp_FTPFolderDetails",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Lkp_LocalDates",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "select \n\t\tss.*, STD.TableID\n From \n (\n\n\t SELECT \n\t\tsourceid, Fileserverlocation, FileFolderPath,value as STATION_POINT_NAME\n\tFROM  ETL.SourceSystem \n\t\tcross apply STRING_SPLIT(filefoldername, ',')\n\twhere sourceid = @{pipeline().parameters.SourceID}\n\n) SS join  [ETL].[SourceTableDetails] STD on STD.sourceid = ss.sourceid\nand TargetBlobFileName = ss.STATION_POINT_NAME",
							"type": "Expression"
						}
					},
					"dataset": {
						"referenceName": "DS_ASQL_EDWDiscovery",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "For each Station Point Name",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lkp_FTPFolderDetails",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lkp_FTPFolderDetails').output.value",
						"type": "Expression"
					},
					"isSequential": false,
					"activities": [
						{
							"name": "Execute PL_BOM_CopyandTransformSourceFile",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "PL_BOM_CopyandTransformSourceFile",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"Fileserverlocation": {
										"value": "@item().Fileserverlocation",
										"type": "Expression"
									},
									"FileFolderPath": {
										"value": "@item().FileFolderPath",
										"type": "Expression"
									},
									"STATION_POINT_NAME": {
										"value": "@item().STATION_POINT_NAME",
										"type": "Expression"
									},
									"TableID": {
										"value": "@item().TableID",
										"type": "Expression"
									},
									"yesterdayyear": {
										"value": "@activity('Lkp_LocalDates').output.firstrow.yesterdayyear",
										"type": "Expression"
									},
									"yesterdaymonth": {
										"value": "@activity('Lkp_LocalDates').output.firstrow.yesterdaymonth",
										"type": "Expression"
									},
									"SourceID": {
										"value": "@pipeline().parameters.SourceID",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			}
		],
		"parameters": {
			"SourceID": {
				"type": "string",
				"defaultValue": "38"
			}
		},
		"variables": {
			"Fileserverlocation": {
				"type": "String"
			},
			"FileFolderPath": {
				"type": "String"
			},
			"STATION_POINT_NAME": {
				"type": "String"
			},
			"TableID": {
				"type": "String"
			}
		},
		"folder": {
			"name": "BOM"
		},
		"annotations": []
	}
}