pipeline/PL_BOM_CopyandTransformSourceFile.json
{
	"name": "PL_BOM_CopyandTransformSourceFile",
	"properties": {
		"activities": [
			{
				"name": "Copy BOM file to Blob",
				"type": "Copy",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "FtpReadSettings",
							"recursive": false,
							"wildcardFileName": {
								"value": "@{concat(pipeline().parameters.STATION_POINT_NAME,'-',pipeline().parameters.yesterdayyear,pipeline().parameters.yesterdaymonth,'.csv')}",
								"type": "Expression"
							},
							"useBinaryTransfer": true
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings",
							"skipLineCount": 0
						}
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobStorageWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".csv"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "DS_FS_FTP",
						"type": "DatasetReference",
						"parameters": {
							"FileFolderPath": {
								"value": "@pipeline().parameters.FileFolderPath",
								"type": "Expression"
							},
							"FileFolderName": {
								"value": "@pipeline().parameters.STATION_POINT_NAME",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "DS_ABLB_FS_SUMS",
						"type": "DatasetReference",
						"parameters": {
							"targetblobfoldername": "@concat('bom-datalanding/',pipeline().parameters.STATION_POINT_NAME)"
						}
					}
				]
			},
			{
				"name": "PL_BOM_TRFM_BlobFile",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "getlistofblobfile",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "PL_BOM_TRFM_BlobFile",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"blobcontainer": {
							"value": "@activity('getlistofblobfile').output.firstrow.TargetBlobContainer",
							"type": "Expression"
						},
						"blobfolderpath": {
							"value": "@pipeline().parameters.STATION_POINT_NAME",
							"type": "Expression"
						},
						"storageaccount": {
							"value": "@activity('getlistofblobfile').output.firstrow.StorageAccount",
							"type": "Expression"
						},
						"blobfilename": {
							"value": "@concat(activity('getlistofblobfile').output.firstrow.TargetBlobContainer,'/',pipeline().parameters.STATION_POINT_NAME)",
							"type": "Expression"
						},
						"columnlist": {
							"value": "@activity('getlistofblobfile').output.firstrow.ColumnSchemaList",
							"type": "Expression"
						},
						"QuoteCharacter": {
							"value": "@activity('getlistofblobfile').output.firstrow.QuoteCharacter",
							"type": "Expression"
						},
						"STATION_POINT_NAME": {
							"value": "@pipeline().parameters.STATION_POINT_NAME",
							"type": "Expression"
						},
						"ColumnDelimiter": {
							"value": "@activity('getlistofblobfile').output.firstrow.ColumnDelimiter",
							"type": "Expression"
						},
						"databrickssecretname": {
							"value": "@activity('getlistofblobfile').output.firstrow.databrickssecretname",
							"type": "Expression"
						},
						"databricksclusterid": {
							"value": "@activity('getlistofblobfile').output.firstrow.databricksclusterid",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "getlistofblobfile",
				"description": "Lookup activity to retrieve the list blob csv file need to be processed from the metadata table.",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Copy BOM file to Blob",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "ETL.usp_get_tablelist_by_sourceid_and_tableid",
						"storedProcedureParameters": {
							"sourceid": {
								"type": "Int32",
								"value": {
									"value": "@pipeline().parameters.SourceID",
									"type": "Expression"
								}
							},
							"TableID": {
								"type": "Int32",
								"value": {
									"value": "@pipeline().parameters.TableID",
									"type": "Expression"
								}
							}
						},
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_ASQL_EDWDiscovery",
						"type": "DatasetReference"
					},
					"firstRowOnly": true
				}
			}
		],
		"parameters": {
			"Fileserverlocation": {
				"type": "string"
			},
			"FileFolderPath": {
				"type": "string"
			},
			"STATION_POINT_NAME": {
				"type": "string"
			},
			"TableID": {
				"type": "string"
			},
			"yesterdayyear": {
				"type": "string"
			},
			"yesterdaymonth": {
				"type": "string"
			},
			"SourceID": {
				"type": "string"
			}
		},
		"folder": {
			"name": "BOM"
		},
		"annotations": [],
		"lastPublishTime": "2020-03-26T00:04:10Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}