pipeline/PL_Chris21_Main.json
{
	"name": "PL_Chris21_Main",
	"properties": {
		"activities": [
			{
				"name": "GetSourceID",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "FileMonitoring",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "Select SourceID from etl.SourceSystem\nwhere SourceName='@{pipeline().parameters.SourceName}'",
							"type": "Expression"
						},
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_ASQL_EDWDiscovery",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "CheckExecutionStatusForSourceToBlob",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "GetSourceID",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@pipeline().parameters.OnlySourceToBlob",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "ExecutePL_EDWOnPrem_DM_SourcetoBlob",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "PL_Chris21_DM_SourcetoBlob",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"sourcename": {
										"value": "@pipeline().parameters.SourceName",
										"type": "Expression"
									},
									"TriggerName": {
										"value": "@pipeline().parameters.TriggerName",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			},
			{
				"name": "CheckExecutionStatusForBlobToASQL",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "CheckExecutionStatusForSourceToBlob",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@pipeline().parameters.OnlyBlobtoASQL",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "ExecutePL_TRFM_BLOBToASQL",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "PL_EDWDiscovery_TRFM_BlobToASQL",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"SourceID": {
										"value": "@activity('GetSourceID').output.firstRow['SourceID']",
										"type": "Expression"
									},
									"TriggerName": {
										"value": "@pipeline().parameters.TriggerName",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			},
			{
				"name": "Archive_UpdateLoadDateforFile",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "CheckExecutionStatusForBlobToASQL",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "PL_Chris21_Archive_updateFileLoadDate",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"sourcename": {
							"value": "@pipeline().parameters.SourceName",
							"type": "Expression"
						},
						"Subject": {
							"value": "@pipeline().parameters.SourceName",
							"type": "Expression"
						},
						"EmailTo": {
							"value": "@pipeline().parameters.EmailTo",
							"type": "Expression"
						},
						"LogicAppURL": {
							"value": "@pipeline().parameters.LogicAppURL",
							"type": "Expression"
						},
						"TriggerName": {
							"value": "@pipeline().parameters.TriggerName",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "FileMonitoring",
				"type": "ExecutePipeline",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "PL_File_Monitoring",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"Sourcename": "CHRIS21",
						"ErrorMessageFileNotReceived": "File not received",
						"EmailTo": {
							"value": "@pipeline().parameters.EmailTo",
							"type": "Expression"
						},
						"LogicAppURL": {
							"value": "@pipeline().parameters.LogicAppURL",
							"type": "Expression"
						},
						"TriggerName": {
							"value": "@pipeline().parameters.TriggerName",
							"type": "Expression"
						}
					}
				}
			}
		],
		"parameters": {
			"SourceName": {
				"type": "string",
				"defaultValue": "CHRIS21"
			},
			"OnlySourceToBlob": {
				"type": "bool",
				"defaultValue": true
			},
			"OnlyBlobtoASQL": {
				"type": "bool",
				"defaultValue": true
			},
			"EmailTo": {
				"type": "string",
				"defaultValue": "DL-IS-Analytics-Data-Foundation@urbanutilities.com.au"
			},
			"LogicAppURL": {
				"type": "string",
				"defaultValue": "https://prod-08.australiaeast.logic.azure.com:443/workflows/b473972d5dc743d8a7fe7451183104e4/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=K1XqCE2ZWAsChqL1-cjnP57avlNPOmrYgj4cTAXJ2uU"
			},
			"TriggerName": {
				"type": "string",
				"defaultValue": "Chris21_Weekly_Trigger_Monday"
			}
		},
		"folder": {
			"name": "Chris21"
		},
		"annotations": [],
		"lastPublishTime": "2021-10-05T05:45:07Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}