pipeline/PL_EDWDiscovery_DM_SourceToBlob_CSVFile.json
{
	"name": "PL_EDWDiscovery_DM_SourceToBlob_CSVFile",
	"properties": {
		"activities": [
			{
				"name": "GetIncrementalLoadTableList",
				"description": "Lookup activity to retrieve the list of partitions stored in the external control table.",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[ETL].[usp_get_tablelist_by_sourceid]",
						"storedProcedureParameters": {
							"sourceid": {
								"type": "Int32",
								"value": {
									"value": "@pipeline().parameters.SourceID",
									"type": "Expression"
								}
							}
						},
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_ASQL_EDWDiscovery",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEachTable",
				"description": "ForEach activity to get the partition list from Lookup activity and then iterate each of them to Copy activity. ",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "GetIncrementalLoadTableList",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('GetIncrementalLoadTableList').output.value\n\n",
						"type": "Expression"
					},
					"isSequential": false,
					"batchCount": 10,
					"activities": [
						{
							"name": "Incremental Load",
							"type": "IfCondition",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@equals(item().IncrementalLoadInd,'1')",
									"type": "Expression"
								},
								"ifFalseActivities": [
									{
										"name": "Full_Framework_CopyCSVFiletoBlob_Pipeline",
										"description": "Execute copy file to blob storage pipeline",
										"type": "ExecutePipeline",
										"dependsOn": [
											{
												"activity": "Full_GetTableInfo",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"userProperties": [],
										"typeProperties": {
											"waitOnCompletion": true,
											"parameters": {
												"Data_Source_Table_Name": {
													"value": "@item().Data_Source_Table_Name",
													"type": "Expression"
												},
												"Data_Source_WaterMarkColumn": {
													"value": "@item().Data_Source_WaterMarkColumn",
													"type": "Expression"
												},
												"Data_Destination_Folder_Path": {
													"value": "@item().Data_Destination_Folder_Path",
													"type": "Expression"
												},
												"Control_Table_Table_Name": {
													"value": "@item().Control_Table_Table_Name",
													"type": "Expression"
												},
												"Control_Table_Column_Name": {
													"value": "@item().Control_Table_Column_Name",
													"type": "Expression"
												},
												"TableID": {
													"value": "@item().TableID",
													"type": "Expression"
												},
												"Data_Destination_File_Name": {
													"value": "@item().Data_Destination_File_Name",
													"type": "Expression"
												},
												"SourceServerName": {
													"value": "@item().SourceServerName",
													"type": "Expression"
												},
												"SourceDatabaseName": {
													"value": "@item().SourceDatabaseName",
													"type": "Expression"
												},
												"IncrementalLoadInd": {
													"value": "@item().IncrementalLoadInd",
													"type": "Expression"
												},
												"File_Name_Ext": {
													"value": "@item().File_Name_Ext",
													"type": "Expression"
												},
												"File_Name_DateTime_Ind": {
													"value": "@item().File_Name_DateTime_Ind",
													"type": "Expression"
												},
												"Join_Condition": {
													"value": "@item().Join_Condition",
													"type": "Expression"
												},
												"Source_Column_List": {
													"value": "@item().Source_Column_List",
													"type": "Expression"
												},
												"ColumnDelimiter": {
													"value": "@item().ColumnDelimiter",
													"type": "Expression"
												},
												"QuoteCharacter": {
													"value": "@item().QuoteCharacter",
													"type": "Expression"
												},
												"source_where_filter": {
													"value": "@item().Source_Where_Filter",
													"type": "Expression"
												},
												"UserName": {
													"value": "@item().UserName",
													"type": "Expression"
												},
												"SecretPasswordName": {
													"value": "@item().SecretPasswordName",
													"type": "Expression"
												},
												"SourceFolderLocation": {
													"value": "@activity('Full_GetTableInfo').output.firstRow.SourceFolderLocation",
													"type": "Expression"
												},
												"SourceFileName": {
													"value": "@activity('Full_GetTableInfo').output.firstRow.SourceFileName",
													"type": "Expression"
												},
												"SourceLandingContainer": {
													"value": "@item().SourceLandingContainer",
													"type": "Expression"
												},
												"SourceName": {
													"value": "@item().SourceName",
													"type": "Expression"
												},
												"DatabricksClusterId": {
													"value": "@item().databricksclusterid",
													"type": "Expression"
												},
												"DatabricksSecretName": {
													"value": "@item().databrickssecretname",
													"type": "Expression"
												},
												"SourceTableName": {
													"value": "@item().SourceFileName",
													"type": "Expression"
												},
												"IsInitialLoad": {
													"value": "@item().IsInitialLoad",
													"type": "Expression"
												}
											}
										}
									},
									{
										"name": "Full_GetTableInfo",
										"type": "Lookup",
										"dependsOn": [],
										"policy": {
											"timeout": "7.00:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "AzureSqlSource",
												"sqlReaderStoredProcedureName": "[ETL].[usp_get_tablelist_by_sourceid_and_tableid]",
												"storedProcedureParameters": {
													"sourceid": {
														"type": "Int32",
														"value": {
															"value": "@pipeline().parameters.SourceID",
															"type": "Expression"
														}
													},
													"tableid": {
														"type": "Int32",
														"value": {
															"value": "@item().TableID",
															"type": "Expression"
														}
													}
												},
												"queryTimeout": "02:00:00",
												"partitionOption": "None"
											},
											"dataset": {
												"referenceName": "DS_ASQL_EDWDiscovery",
												"type": "DatasetReference"
											}
										}
									}
								],
								"ifTrueActivities": [
									{
										"name": "Inc_Framework_CopyCSVFiletoBlob_Pipeline",
										"description": "Execute copy file to blob storage pipeline",
										"type": "ExecutePipeline",
										"dependsOn": [
											{
												"activity": "Inc_GetTableInfo",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"userProperties": [],
										"typeProperties": {
											"waitOnCompletion": true
										}
									},
									{
										"name": "Inc_GetTableInfo",
										"type": "Lookup",
										"dependsOn": [],
										"policy": {
											"timeout": "7.00:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "AzureSqlSource",
												"sqlReaderStoredProcedureName": "[ETL].[usp_get_tablelist_by_sourceid_and_tableid]",
												"storedProcedureParameters": {
													"sourceid": {
														"type": "Int32",
														"value": {
															"value": "@pipeline().parameters.SourceID",
															"type": "Expression"
														}
													},
													"tableid": {
														"type": "Int32",
														"value": {
															"value": "@item().TableID",
															"type": "Expression"
														}
													}
												},
												"queryTimeout": "02:00:00",
												"partitionOption": "None"
											},
											"dataset": {
												"referenceName": "DS_ASQL_EDWDiscovery",
												"type": "DatasetReference"
											}
										}
									}
								]
							}
						}
					]
				}
			}
		],
		"parameters": {
			"SourceID": {
				"type": "string",
				"defaultValue": "3"
			}
		},
		"folder": {
			"name": "EDW_Discovery"
		},
		"annotations": []
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}