pipeline/PL_Evoqua_API_Parallel_Ingestion.json
{
	"name": "PL_Evoqua_API_Parallel_Ingestion",
	"properties": {
		"activities": [
			{
				"name": "Switch on tables",
				"type": "Switch",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"on": {
						"value": "@pipeline().parameters.TableName",
						"type": "Expression"
					},
					"cases": [
						{
							"value": "Replication_Data",
							"activities": [
								{
									"name": "Execute Replication Data",
									"type": "DatabricksNotebook",
									"dependsOn": [
										{
											"activity": "Get max sequence number",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"notebookPath": "/edw_discovery/Evoqua/EvoquaMetaData Replication Data",
										"baseParameters": {
											"maxsequencenumber": {
												"value": "@activity('Get max sequence number').output.firstRow.MaxSequenceNumber",
												"type": "Expression"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "LS_DBR_ADF_Job_Cluster",
										"type": "LinkedServiceReference",
										"parameters": {
											"databricksclusterid": {
												"value": "@pipeline().parameters.DatabricksClusterId",
												"type": "Expression"
											},
											"databrickssecretname": {
												"value": "@pipeline().parameters.DatabricksSecretName",
												"type": "Expression"
											}
										}
									}
								},
								{
									"name": "Get max sequence number",
									"type": "Lookup",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "AzureSqlSource",
											"sqlReaderQuery": {
												"value": "select cast(max(DataId) as nvarchar(100)) as MaxSequenceNumber from [Evoqua].[Replication_Data]",
												"type": "Expression"
											},
											"queryTimeout": "02:00:00",
											"partitionOption": "None"
										},
										"dataset": {
											"referenceName": "DS_ASQL_EDWDiscovery",
											"type": "DatasetReference"
										}
									}
								}
							]
						},
						{
							"value": "Channel",
							"activities": [
								{
									"name": "Execute Channel",
									"type": "DatabricksNotebook",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"notebookPath": "/edw_discovery/Evoqua/EvoquaMetaData Channels"
									},
									"linkedServiceName": {
										"referenceName": "LS_DBR_ADF_Job_Cluster",
										"type": "LinkedServiceReference",
										"parameters": {
											"databricksclusterid": {
												"value": "@pipeline().parameters.DatabricksClusterId",
												"type": "Expression"
											},
											"databrickssecretname": {
												"value": "@pipeline().parameters.DatabricksSecretName",
												"type": "Expression"
											}
										}
									}
								}
							]
						},
						{
							"value": "Location",
							"activities": [
								{
									"name": "Execute Location",
									"type": "DatabricksNotebook",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"notebookPath": "/edw_discovery/Evoqua/EvoquaMetaData Locations"
									},
									"linkedServiceName": {
										"referenceName": "LS_DBR_ADF_Job_Cluster",
										"type": "LinkedServiceReference",
										"parameters": {
											"databricksclusterid": {
												"value": "@pipeline().parameters.DatabricksClusterId",
												"type": "Expression"
											},
											"databrickssecretname": {
												"value": "@pipeline().parameters.DatabricksSecretName",
												"type": "Expression"
											}
										}
									}
								}
							]
						},
						{
							"value": "Unit",
							"activities": [
								{
									"name": "Execute Unit",
									"type": "DatabricksNotebook",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"notebookPath": "/edw_discovery/Evoqua/EvoquaMetaData Units"
									},
									"linkedServiceName": {
										"referenceName": "LS_DBR_ADF_Job_Cluster",
										"type": "LinkedServiceReference",
										"parameters": {
											"databricksclusterid": {
												"value": "@pipeline().parameters.DatabricksClusterId",
												"type": "Expression"
											},
											"databrickssecretname": {
												"value": "@pipeline().parameters.DatabricksSecretName",
												"type": "Expression"
											}
										}
									}
								}
							]
						}
					]
				}
			}
		],
		"parameters": {
			"TableName": {
				"type": "string"
			},
			"DatabricksClusterId": {
				"type": "string"
			},
			"DatabricksSecretName": {
				"type": "string"
			}
		},
		"folder": {
			"name": "Evoqua"
		},
		"annotations": []
	}
}