pipeline/PL_EDWDiscovery_DM_SourceToBlob_SalesForce.json
{
	"name": "PL_EDWDiscovery_DM_SourceToBlob_SalesForce",
	"properties": {
		"activities": [
			{
				"name": "GetIncrementalLoadTableList",
				"description": "Lookup activity to retrieve the list of partitions stored in the external control table.",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[ETL].[usp_get_tablelist_by_sourceid]",
						"storedProcedureParameters": {
							"sourceid": {
								"type": "Int32",
								"value": {
									"value": "@pipeline().parameters.SourceID",
									"type": "Expression"
								}
							}
						},
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_ASQL_EDWDiscovery",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEachTable",
				"description": "ForEach activity to get the partition list from Lookup activity and then iterate each of them to Copy activity. ",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "GetIncrementalLoadTableList",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('GetIncrementalLoadTableList').output.value\n\n",
						"type": "Expression"
					},
					"isSequential": false,
					"batchCount": 50,
					"activities": [
						{
							"name": "Framework_CopyDBtoBlob_Pipeline",
							"description": "Execute copy db to blob storage pipeline",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "PL_Framework_DM_SourcetoBlob_Salesforce",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"Data_Source_Table_Name": {
										"value": "@item().Data_Source_Table_Name",
										"type": "Expression"
									},
									"Data_Source_WaterMarkColumn": {
										"value": "@item().Data_Source_WaterMarkColumn",
										"type": "Expression"
									},
									"Data_Destination_Folder_Path": {
										"value": "@item().Data_Destination_Folder_Path",
										"type": "Expression"
									},
									"Control_Table_Table_Name": {
										"value": "@item().Control_Table_Table_Name",
										"type": "Expression"
									},
									"Control_Table_Column_Name": {
										"value": "@item().Control_Table_Column_Name",
										"type": "Expression"
									},
									"TableID": {
										"value": "@item().TableID",
										"type": "Expression"
									},
									"SourceServerName": {
										"value": "@item().SourceServerName",
										"type": "Expression"
									},
									"SourceDatabaseName": {
										"value": "@item().SourceDatabaseName",
										"type": "Expression"
									},
									"Data_Destination_File_Name": {
										"value": "@item().Data_Destination_File_Name",
										"type": "Expression"
									},
									"IncrementalLoadInd": {
										"value": "@item().IncrementalLoadInd",
										"type": "Expression"
									},
									"File_Name_Ext": {
										"value": "@item().File_Name_Ext",
										"type": "Expression"
									},
									"File_Name_DateTime_Ind": {
										"value": "@item().File_Name_DateTime_Ind",
										"type": "Expression"
									},
									"Join_Condition": {
										"value": "@item().Join_Condition",
										"type": "Expression"
									},
									"Source_Column_List": {
										"value": "@item().Source_Column_List",
										"type": "Expression"
									},
									"ColumnDelimiter": {
										"value": "@item().ColumnDelimiter",
										"type": "Expression"
									},
									"QuoteCharacter": {
										"value": "@item().QuoteCharacter",
										"type": "Expression"
									},
									"source_where_filter": {
										"value": "@item().Source_Where_Filter",
										"type": "Expression"
									},
									"UserName": {
										"value": "@item().UserName",
										"type": "Expression"
									},
									"SecretPasswordName": {
										"value": "@item().SecretPasswordName",
										"type": "Expression"
									},
									"SourceName": {
										"value": "@item().SourceName",
										"type": "Expression"
									},
									"DeltaTargetTableName": {
										"value": "@item().DeltaTargetTableName",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			}
		],
		"parameters": {
			"SourceID": {
				"type": "string",
				"defaultValue": "3"
			}
		},
		"folder": {
			"name": "EDW_Discovery"
		},
		"annotations": [],
		"lastPublishTime": "2022-04-19T00:29:18Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}