pipeline/PL_EDWDiscovery_SourceToBlob_Delete.json
{
	"name": "PL_EDWDiscovery_SourceToBlob_Delete",
	"properties": {
		"activities": [
			{
				"name": "SourceToBlob_CommandType",
				"type": "Switch",
				"dependsOn": [
					{
						"activity": "fetchSwitchCommandType",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"on": {
						"value": "@activity('fetchSwitchCommandType').output.firstRow.ADFAction",
						"type": "Expression"
					},
					"cases": [
						{
							"value": "DB_SQL",
							"activities": [
								{
									"name": "Execute DM_SourcetoBlob_SQLDatabase_Delete",
									"type": "ExecutePipeline",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "PL_EDWDiscovery_DM_SourceToBlobDelete_SqlServer",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {
											"SourceID": {
												"value": "@pipeline().parameters.SourceID",
												"type": "Expression"
											}
										}
									}
								}
							]
						},
						{
							"value": "DB_ORACLE",
							"activities": [
								{
									"name": "Execute DM_SourcetoBlob_Oracle_Delete",
									"type": "ExecutePipeline",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "PL_EDWDiscovery_DM_SourceToBlobDelete_Oracle",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {
											"SourceID": {
												"value": "@pipeline().parameters.SourceID",
												"type": "Expression"
											}
										}
									}
								},
								{
									"name": "Execute DM_SourcetoBlob_Oracle_Delete_copy1",
									"type": "ExecutePipeline",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "PL_EDWDiscovery_DM_SourceToBlobDelete_Oracle",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {
											"SourceID": {
												"value": "@pipeline().parameters.SourceID",
												"type": "Expression"
											}
										}
									}
								}
							]
						}
					]
				}
			},
			{
				"name": "fetchSwitchCommandType",
				"description": "Based on SourceType and LoadType SQL procedure will fetch switch command type",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "EXEC etl.usp_get_switch_command_type '@{pipeline().parameters.SourceID}'",
							"type": "Expression"
						},
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_ASQL_EDWDiscovery",
						"type": "DatasetReference"
					}
				}
			}
		],
		"parameters": {
			"SourceID": {
				"type": "int"
			},
			"LoadTypeName": {
				"type": "string"
			}
		},
		"variables": {
			"test": {
				"type": "Boolean"
			},
			"Dummy1": {
				"type": "Boolean"
			},
			"DummyFull": {
				"type": "Boolean"
			}
		},
		"folder": {
			"name": "EDW_Discovery"
		},
		"annotations": [],
		"lastPublishTime": "2022-04-27T05:48:52Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}