pipeline/PL_Framework_Migration_SourceToBlob_SqlServer.json
{
	"name": "PL_Framework_Migration_SourceToBlob_SqlServer",
	"properties": {
		"description": "Copy new or updated rows only from database using external control table",
		"activities": [
			{
				"name": "Incremental or Full",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "CheckCDCMigrationCompleted",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@equals(pipeline().parameters.IncrementalLoadInd,1)",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "FullCopyToBlob",
							"description": "Full Copy from source table into blob storage",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "lkp_getlocalstarttime2",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "SqlServerSource",
									"sqlReaderQuery": {
										"value": "select @{pipeline().parameters.Source_Column_List}\nfrom @{pipeline().parameters.Data_Source_Table_Name} \n@{pipeline().parameters.Join_Condition}\n@{pipeline().parameters.source_where_filter}\n",
										"type": "Expression"
									}
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobStorageWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".csv"
									}
								},
								"enableStaging": false,
								"dataIntegrationUnits": 0
							},
							"inputs": [
								{
									"referenceName": "DS_SQL_EDWDiscovery_OnPrem",
									"type": "DatasetReference",
									"parameters": {
										"ServerName": {
											"value": "@pipeline().parameters.SourceServerName",
											"type": "Expression"
										},
										"DatabaseName": {
											"value": "@pipeline().parameters.SourceDatabaseName",
											"type": "Expression"
										},
										"UserName": {
											"value": "@pipeline().parameters.UserName",
											"type": "Expression"
										},
										"SecretPasswordName": {
											"value": "@pipeline().parameters.SecretPasswordName",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "DS_ABLB_Datalanding",
									"type": "DatasetReference",
									"parameters": {
										"FolderPath": {
											"value": "@pipeline().parameters.Data_Destination_Folder_Path",
											"type": "Expression"
										},
										"TargetFileName": {
											"value": "@if(equals(pipeline().parameters.File_Name_DateTime_Ind,1)\n,  concat(pipeline().parameters.Data_Destination_File_Name\n             ,'-'\n            ,activity('lkp_getlocalstarttime2').output.firstrow.localstarttime2\n             ,pipeline().parameters.File_Name_Ext)\n,\nconcat(\npipeline().parameters.Data_Destination_File_Name\n,pipeline().parameters.File_Name_Ext)\n)\n\n\n\n",
											"type": "Expression"
										},
										"ColumnDelimiter": {
											"value": "@pipeline().parameters.ColumnDelimiter",
											"type": "Expression"
										},
										"QuoteCharacter": {
											"value": "@pipeline().parameters.QuoteCharacter",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "PostProcessingFull",
							"description": "Stored procedure activity to store the new high-watermark value into external control table for delta data loading. ",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "FullCopyToBlob",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[ETL].[usp_update_incrementaldatevalue]",
								"storedProcedureParameters": {
									"TableID": {
										"value": {
											"value": "@pipeline().parameters.TableID",
											"type": "Expression"
										},
										"type": "Int32"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "LS_ASQL_EDWDiscovery",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "lkp_getlocalstarttime2",
							"type": "Lookup",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "SqlMISource",
									"sqlReaderQuery": "select dbo.udf_covert_utc_to_local_Datetime(getdate()) as  localstarttime2"
								},
								"dataset": {
									"referenceName": "DS_ASQL_EDWDiscovery",
									"type": "DatasetReference"
								}
							}
						}
					],
					"ifTrueActivities": [
						{
							"name": "lkp_getpreviousdatevalue",
							"description": "Retrieve  the last high-watermark value stored in external control table",
							"type": "Lookup",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "SqlMISource",
									"sqlReaderQuery": {
										"value": "select isnull(@{pipeline().parameters.Control_Table_Column_Name},'1753-01-01') as WatermarkValue from @{pipeline().parameters.Control_Table_Table_Name}\nwhere TableID = @{pipeline().parameters.TableID}",
										"type": "Expression"
									}
								},
								"dataset": {
									"referenceName": "DS_ASQL_EDWDiscovery",
									"type": "DatasetReference"
								}
							}
						},
						{
							"name": "lkp_getcurrentmaxvalue",
							"description": "Retrieve  the current maximum value in watermark column of source data store",
							"type": "Lookup",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "SqlServerSource",
									"sqlReaderQuery": {
										"value": "select max(@{pipeline().parameters.Data_Source_WaterMarkColumn}) AS NewWatermarkValue from @{pipeline().parameters.Data_Source_Table_Name}\n@{pipeline().parameters.Join_Condition}\n",
										"type": "Expression"
									}
								},
								"dataset": {
									"referenceName": "DS_SQL_EDWDiscovery_OnPrem",
									"type": "DatasetReference",
									"parameters": {
										"ServerName": {
											"value": "@pipeline().parameters.SourceServerName",
											"type": "Expression"
										},
										"DatabaseName": {
											"value": "@pipeline().parameters.SourceDatabaseName",
											"type": "Expression"
										},
										"UserName": "urbanutilities\\svc-EBI_PRDC04_AGT",
										"SecretPasswordName": "SVC-EBI-PRDC04-AGT"
									}
								}
							}
						},
						{
							"name": "DeltaCopyfromDB",
							"description": "Copy activity to use query to filter the delta data by > last high-watermark and <= current high-watermark from source database, and then only copy the changes to the destination store.",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "lkp_getpreviousdatevalue",
									"dependencyConditions": [
										"Succeeded"
									]
								},
								{
									"activity": "lkp_getcurrentmaxvalue",
									"dependencyConditions": [
										"Succeeded"
									]
								},
								{
									"activity": "lkp_getlocattime",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "SqlServerSource",
									"sqlReaderQuery": {
										"value": "select @{pipeline().parameters.Source_Column_List}\n from @{pipeline().parameters.Data_Source_Table_Name} \n@{pipeline().parameters.Join_Condition}\nwhere\n@{pipeline().parameters.Data_Source_WaterMarkColumn} > '@{activity('lkp_getpreviousdatevalue').output.firstRow.WatermarkValue}' \nand @{pipeline().parameters.Data_Source_WaterMarkColumn} <= '@{activity('lkp_getcurrentmaxvalue').output.firstRow.NewWatermarkValue}'\n@{pipeline().parameters.source_where_filter}",
										"type": "Expression"
									}
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobStorageWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ""
									}
								},
								"enableStaging": false,
								"dataIntegrationUnits": 0
							},
							"inputs": [
								{
									"referenceName": "DS_SQL_EDWDiscovery_OnPrem",
									"type": "DatasetReference",
									"parameters": {
										"ServerName": {
											"value": "@pipeline().parameters.SourceServerName",
											"type": "Expression"
										},
										"DatabaseName": {
											"value": "@pipeline().parameters.SourceDatabaseName",
											"type": "Expression"
										},
										"UserName": {
											"value": "@pipeline().parameters.UserName",
											"type": "Expression"
										},
										"SecretPasswordName": {
											"value": "@pipeline().parameters.SecretPasswordName",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "DS_ABLB_Datalanding",
									"type": "DatasetReference",
									"parameters": {
										"FolderPath": {
											"value": "@pipeline().parameters.Data_Destination_Folder_Path",
											"type": "Expression"
										},
										"TargetFileName": {
											"value": "@if(equals(pipeline().parameters.File_Name_DateTime_Ind,1)\n,  concat(pipeline().parameters.Data_Destination_File_Name\n             ,'-'\n            ,activity('lkp_getlocattime').output.firstrow.localstarttime\n             ,pipeline().parameters.File_Name_Ext)\n,\nconcat(\npipeline().parameters.Data_Destination_File_Name\n,pipeline().parameters.File_Name_Ext)\n)\n\n",
											"type": "Expression"
										},
										"ColumnDelimiter": {
											"value": "@pipeline().parameters.ColumnDelimiter",
											"type": "Expression"
										},
										"QuoteCharacter": {
											"value": "@pipeline().parameters.QuoteCharacter",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "PostProcessingDelta",
							"description": "Stored procedure activity to store the new high-watermark value into external control table for delta data loading. ",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "DeltaCopyfromDB",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[ETL].[usp_update_incrementaldatevalue]",
								"storedProcedureParameters": {
									"LastModifiedDTM": {
										"value": {
											"value": "@activity('lkp_getcurrentmaxvalue').output.firstRow.NewWatermarkValue",
											"type": "Expression"
										},
										"type": "DateTime"
									},
									"TableID": {
										"value": {
											"value": "@pipeline().parameters.TableID",
											"type": "Expression"
										},
										"type": "Int32"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "LS_ASQL_EDWDiscovery",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "lkp_getlocattime",
							"type": "Lookup",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "SqlMISource",
									"sqlReaderQuery": "select dbo.udf_covert_utc_to_local_Datetime(getdate()) as  localstarttime"
								},
								"dataset": {
									"referenceName": "DS_ASQL_EDWDiscovery",
									"type": "DatasetReference"
								}
							}
						}
					]
				}
			},
			{
				"name": "CheckCDCMigrationCompleted",
				"type": "IfCondition",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@and(equals(pipeline().parameters.CDCMigrationInd,1),not(equals(pipeline().parameters.CDCMigrationCompleted,1)))",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "CopyCDCData",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "SqlServerSource",
									"sqlReaderQuery": {
										"value": "SELECT  \n\t Case WHEN [__$operation] = 1 THEN 'DELETE'\n\t        WHEN [__$operation] = 2 THEN 'INSERT'\n\t\t\tWHEN [__$operation] = 4 THEN ' UPDATE' END as ROW_OPERATION\n    ,@{pipeline().parameters.Source_Column_List}\n  FROM @{concat('cdc.',pipeline().parameters.DeltaTargetTableName,'_CT',' ',  pipeline().parameters.Data_Destination_File_Name)}\n  WHERE [__$operation] !=3\n",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00"
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobStorageWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".csv"
									}
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "DS_SQL_EDWDiscovery_OnPrem",
									"type": "DatasetReference",
									"parameters": {
										"ServerName": {
											"value": "@pipeline().parameters.SourceServerName",
											"type": "Expression"
										},
										"DatabaseName": {
											"value": "@pipeline().parameters.SourceDatabaseName",
											"type": "Expression"
										},
										"UserName": {
											"value": "@pipeline().parameters.UserName",
											"type": "Expression"
										},
										"SecretPasswordName": {
											"value": "@pipeline().parameters.SecretPasswordName",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "DS_ABLB_Datalanding",
									"type": "DatasetReference",
									"parameters": {
										"FolderPath": {
											"value": "@concat(pipeline().parameters.Data_Destination_Folder_Path,'/cdc')",
											"type": "Expression"
										},
										"TargetFileName": {
											"value": "@concat(pipeline().parameters.DeltaTargetTableName,pipeline().parameters.File_Name_Ext)",
											"type": "Expression"
										},
										"ColumnDelimiter": {
											"value": "@pipeline().parameters.ColumnDelimiter",
											"type": "Expression"
										},
										"QuoteCharacter": {
											"value": "@pipeline().parameters.QuoteCharacter",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			}
		],
		"parameters": {
			"Data_Source_Table_Name": {
				"type": "String",
				"defaultValue": "dbo.MSF660"
			},
			"Data_Source_WaterMarkColumn": {
				"type": "String",
				"defaultValue": "CASE WHEN LAST_MOD_DATE <> '' AND LAST_MOD_TIME<>'' THEN (CAST(LAST_MOD_DATE AS DATETIME) + CAST(stuff(stuff(LAST_MOD_TIME ,3,0,':'),6,0,':') AS DATETIME)) END"
			},
			"Data_Destination_Folder_Path": {
				"type": "String",
				"defaultValue": "ellipse9-datalanding/MSF660"
			},
			"Control_Table_Table_Name": {
				"type": "String",
				"defaultValue": "ETL.SourceTableDetails"
			},
			"Control_Table_Column_Name": {
				"type": "String",
				"defaultValue": "IncrementalKeyDateColumnLastRefreshValue"
			},
			"TableID": {
				"type": "string",
				"defaultValue": "1"
			},
			"Data_Destination_File_Name": {
				"type": "string",
				"defaultValue": "MSF660"
			},
			"SourceServerName": {
				"type": "string",
				"defaultValue": "NFUJDEV073"
			},
			"SourceDatabaseName": {
				"type": "string",
				"defaultValue": "Datamart"
			},
			"IncrementalLoadInd": {
				"type": "int",
				"defaultValue": 1
			},
			"File_Name_Ext": {
				"type": "string",
				"defaultValue": ".csv"
			},
			"File_Name_DateTime_Ind": {
				"type": "int",
				"defaultValue": 1
			},
			"Join_Condition": {
				"type": "string",
				"defaultValue": " "
			},
			"Source_Column_List": {
				"type": "string",
				"defaultValue": "*"
			},
			"ColumnDelimiter": {
				"type": "string",
				"defaultValue": ","
			},
			"QuoteCharacter": {
				"type": "string",
				"defaultValue": "¬"
			},
			"source_where_filter": {
				"type": "string",
				"defaultValue": " "
			},
			"UserName": {
				"type": "string"
			},
			"SecretPasswordName": {
				"type": "string"
			},
			"SourceName": {
				"type": "string"
			},
			"DeltaTargetTableName": {
				"type": "string"
			},
			"CDCMigrationCompleted": {
				"type": "int"
			},
			"CDCMigrationInd": {
				"type": "int"
			}
		},
		"folder": {
			"name": "FrameWork"
		},
		"annotations": []
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}