pipeline/PL_File_Monitoring_File_LastModifiedDate_Check.json
{
	"name": "PL_File_Monitoring_File_LastModifiedDate_Check",
	"properties": {
		"activities": [
			{
				"name": "If Condition3",
				"type": "IfCondition",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@greater(ticks(pipeline().parameters.LastModifiedDate),ticks(pipeline().parameters.LastLoadedDate))",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "Send email",
							"type": "WebActivity",
							"dependsOn": [
								{
									"activity": "Set variable1",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"url": "https://prod-24.australiaeast.logic.azure.com:443/workflows/dc9e1df8aa2e45808aacf97f550a7599/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=xQCVGhMPOjEYrG7FImPoWprQJPEtC5I_9OV0LOzMWyI",
								"method": "POST",
								"headers": {
									"Content-Type": "application/json"
								},
								"body": {
									"value": "{\"DataFactoryName\":\"@{pipeline().DataFactory}\",\"PipelineName\":\"@{pipeline().Pipeline}\",\"Subject\":\"@{pipeline().parameters.Subject}\",\"ErrorMessage\":\"@{variables('ErrorMessage')}\",\"EmailTo\":\"@{pipeline().parameters.EmailTo}\"}",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Set variable1",
							"type": "SetVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "ErrorMessage",
								"value": {
									"value": "@concat('Lastest file for ',pipeline().parameters.FileName,' is not recevied')",
									"type": "Expression"
								}
							}
						}
					]
				}
			}
		],
		"parameters": {
			"LastModifiedDate": {
				"type": "string"
			},
			"Subject": {
				"type": "string"
			},
			"LastLoadedDate": {
				"type": "string"
			},
			"FileName": {
				"type": "string"
			},
			"EmailTo": {
				"type": "string",
				"defaultValue": "Vinayak.Khoje@urbanutilities.com.au"
			}
		},
		"variables": {
			"ErrorMessage": {
				"type": "String"
			}
		},
		"folder": {
			"name": "Source File Monitoring"
		},
		"annotations": []
	}
}