pipeline/PL_File_Monitoring_File_Size_Check.json
{
	"name": "PL_File_Monitoring_File_Size_Check",
	"properties": {
		"activities": [
			{
				"name": "Check if file is empty",
				"type": "IfCondition",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@greater(int(pipeline().parameters.FileSize),5)",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "Send email",
							"type": "WebActivity",
							"dependsOn": [
								{
									"activity": "Set error message",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"url": "https://prod-08.australiaeast.logic.azure.com:443/workflows/b473972d5dc743d8a7fe7451183104e4/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=K1XqCE2ZWAsChqL1-cjnP57avlNPOmrYgj4cTAXJ2uU",
								"method": "POST",
								"headers": {
									"Content-Type": "application/json"
								},
								"body": {
									"value": "{\"DataFactoryName\":\"@{pipeline().DataFactory}\",\"PipelineName\":\"@{pipeline().Pipeline}\",\"Subject\":\"@{pipeline().parameters.Subject}\",\"ErrorMessage\":\"@{variables('ErrorMessage')}\",\"EmailTo\":\"@{pipeline().parameters.EmailTo}\"}",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Set error message",
							"type": "SetVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "ErrorMessage",
								"value": {
									"value": "@concat('Lastest file for ',pipeline().parameters.FileName,' is empty')",
									"type": "Expression"
								}
							}
						}
					]
				}
			}
		],
		"parameters": {
			"FileSize": {
				"type": "string",
				"defaultValue": "10"
			},
			"Subject": {
				"type": "string",
				"defaultValue": "C21"
			},
			"FileName": {
				"type": "string",
				"defaultValue": "F1"
			},
			"EmailTo": {
				"type": "string",
				"defaultValue": "Vinayak.Khoje@urbanutilities.com.au"
			}
		},
		"variables": {
			"ErrorMessage": {
				"type": "String"
			},
			"Filesize": {
				"type": "String"
			}
		},
		"folder": {
			"name": "Source File Monitoring"
		},
		"annotations": []
	}
}