pipeline/PL_PowerBI_Main.json
{
	"name": "PL_PowerBI_Main",
	"properties": {
		"activities": [
			{
				"name": "CheckExecutionStatusForSourceToBlob",
				"type": "IfCondition",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@pipeline().parameters.OnlySourceToBlob",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "ExecutePL_PowerBI_DM_SourcetoBlob",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "PL_PowerBI_DM_SourcetoBlob",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true
							}
						}
					]
				}
			},
			{
				"name": "CheckExecutionStatusForBlobToASQL",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "CheckExecutionStatusForSourceToBlob",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@pipeline().parameters.OnlyBlobtoASQL",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "ExecutePL_PowerBI_DM_BlobtoASQL",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "PL_PowerBI_DM_BlobtoASQL",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"p_BlobContainerName": {
										"value": "@variables('v_BlobContainerName')",
										"type": "Expression"
									},
									"p_ColumnDelimiter": {
										"value": "@variables('v_ColumnDelimiter')",
										"type": "Expression"
									},
									"p_QuoteCharacter": {
										"value": "@variables('v_QuoteCharacter')",
										"type": "Expression"
									},
									"p_TableSchemaName": {
										"value": "@variables('v_TableSchemaName')",
										"type": "Expression"
									},
									"p_EscapeCharacter": {
										"value": "@variables('v_EscapeCharacter')",
										"type": "Expression"
									},
									"p_BlobFolderName": {
										"value": "@variables('v_BlobFolderName')",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			},
			{
				"name": "CheckExecutionStatusForArchiveBlobFiles",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "CheckExecutionStatusForBlobToASQL",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@pipeline().parameters.ArchiveBlobFiles",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "ExecutePL_PowerBI_DM_ArchiveBlobFiles",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "PL_PowerBI_DM_ArchiveBlobFiles",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"p_BlobContainerName": {
										"value": "@variables('v_BlobContainerName')",
										"type": "Expression"
									},
									"p_ColumnDelimiter": {
										"value": "@variables('v_ColumnDelimiter')",
										"type": "Expression"
									},
									"p_QuoteCharacter": {
										"value": "@variables('v_QuoteCharacter')",
										"type": "Expression"
									},
									"p_TableSchemaName": {
										"value": "@variables('v_TableSchemaName')",
										"type": "Expression"
									},
									"p_EscapeCharacter": {
										"value": "@variables('v_EscapeCharacter')",
										"type": "Expression"
									},
									"p_BlobFolderName": {
										"value": "@variables('v_BlobFolderName')",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			}
		],
		"parameters": {
			"SourceName": {
				"type": "string",
				"defaultValue": "PowerBI"
			},
			"OnlySourceToBlob": {
				"type": "bool",
				"defaultValue": true
			},
			"OnlyBlobtoASQL": {
				"type": "bool",
				"defaultValue": true
			},
			"ArchiveBlobFiles": {
				"type": "bool",
				"defaultValue": true
			}
		},
		"variables": {
			"v_BlobContainerName": {
				"type": "String",
				"defaultValue": "powerbi-tactical-datalanding"
			},
			"v_ColumnDelimiter": {
				"type": "String",
				"defaultValue": ","
			},
			"v_QuoteCharacter": {
				"type": "String",
				"defaultValue": "\""
			},
			"v_TableSchemaName": {
				"type": "String",
				"defaultValue": "PowerBI"
			},
			"v_EscapeCharacter": {
				"type": "String",
				"defaultValue": "\\"
			},
			"v_BlobFolderName": {
				"type": "String",
				"defaultValue": "powerbi/"
			}
		},
		"folder": {
			"name": "PowerBI Tactical"
		},
		"annotations": [],
		"lastPublishTime": "2022-04-19T00:29:21Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}