pipeline/PL_PowerBI_DM_SourcetoBlob.json
{
	"name": "PL_PowerBI_DM_SourcetoBlob",
	"properties": {
		"description": "Transfer file to Blob storage",
		"activities": [
			{
				"name": "GetFileNames",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "DS_Files_NFUJPRD202_GDrive",
						"type": "DatasetReference",
						"parameters": {
							"TargetFilePath": {
								"value": "@variables('v_SourceFilePath')",
								"type": "Expression"
							},
							"TargetFileName": {
								"value": "@variables('v_SourceFileName')",
								"type": "Expression"
							},
							"ColumnDelimiter": {
								"value": "@variables('v_ColumnDelimiter')",
								"type": "Expression"
							},
							"QuoteCharacter": {
								"value": "@variables('v_QuoteCharacter')",
								"type": "Expression"
							},
							"EscapeCharacter": {
								"value": "@variables('v_EscapeCharacter')",
								"type": "Expression"
							},
							"FirstRowHeader": {
								"value": "@variables('v_FirstRowHeader')",
								"type": "Expression"
							}
						}
					},
					"fieldList": [
						"childItems",
						"itemType"
					],
					"storeSettings": {
						"type": "FileServerReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "ForEachFile",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "FilterOnlyCSVFiles",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('FilterOnlyCSVFiles').output.value",
						"type": "Expression"
					},
					"batchCount": 10,
					"activities": [
						{
							"name": "CopyFile_NFUJPRD171_to_Blob",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "FileServerReadSettings",
										"recursive": false,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobStorageWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".csv"
									}
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "DS_Files_NFUJPRD202_GDrive",
									"type": "DatasetReference",
									"parameters": {
										"TargetFilePath": {
											"value": "@variables('v_SourceFilePath')",
											"type": "Expression"
										},
										"TargetFileName": {
											"value": "@item().name",
											"type": "Expression"
										},
										"ColumnDelimiter": {
											"value": "@variables('v_ColumnDelimiter')",
											"type": "Expression"
										},
										"QuoteCharacter": {
											"value": "@variables('v_QuoteCharacter')",
											"type": "Expression"
										},
										"EscapeCharacter": {
											"value": "@variables('v_EscapeCharacter')",
											"type": "Expression"
										},
										"FirstRowHeader": {
											"value": "1",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "DS_ABLB_FS_PowerBI_Tactical",
									"type": "DatasetReference",
									"parameters": {
										"BlobContainerName": {
											"value": "@variables('v_BlobContainerName')",
											"type": "Expression"
										},
										"ColumnDelimiter": {
											"value": "@variables('v_ColumnDelimiter')",
											"type": "Expression"
										},
										"QuoteCharacter": {
											"value": "@variables('v_QuoteCharacter')",
											"type": "Expression"
										},
										"EscapeCharacter": {
											"value": "@variables('v_EscapeCharacter')",
											"type": "Expression"
										},
										"BlobFolderName": {
											"value": "@concat('\\', variables('v_BlobFolderName'), toLower(substring(Item().name, 0, indexof(Item().name, '_'))))",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "Archive_Landing_Files",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "CopyFile_NFUJPRD171_to_Blob",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "FileServerReadSettings",
										"recursive": false,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "FileServerWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".csv"
									}
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "DS_Files_NFUJPRD202_GDrive",
									"type": "DatasetReference",
									"parameters": {
										"TargetFilePath": {
											"value": "@variables('v_SourceFilePath')",
											"type": "Expression"
										},
										"TargetFileName": {
											"value": "@item().name",
											"type": "Expression"
										},
										"ColumnDelimiter": {
											"value": "@variables('v_ColumnDelimiter')",
											"type": "Expression"
										},
										"QuoteCharacter": {
											"value": "@variables('v_QuoteCharacter')",
											"type": "Expression"
										},
										"EscapeCharacter": {
											"value": "@variables('v_EscapeCharacter')",
											"type": "Expression"
										},
										"FirstRowHeader": {
											"value": "@variables('v_FirstRowHeader')",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "DS_Files_NFUJPRD202_GDrive",
									"type": "DatasetReference",
									"parameters": {
										"TargetFilePath": {
											"value": "@concat(variables('v_SourceFilePath'), '\\Archived')",
											"type": "Expression"
										},
										"TargetFileName": {
											"value": "@item().name",
											"type": "Expression"
										},
										"ColumnDelimiter": {
											"value": "@variables('v_ColumnDelimiter')",
											"type": "Expression"
										},
										"QuoteCharacter": {
											"value": "@variables('v_QuoteCharacter')",
											"type": "Expression"
										},
										"EscapeCharacter": {
											"value": "@variables('v_EscapeCharacter')",
											"type": "Expression"
										},
										"FirstRowHeader": {
											"value": "@variables('v_FirstRowHeader')",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "Delete_Processed_Files_From_Landing",
							"type": "Delete",
							"dependsOn": [
								{
									"activity": "Archive_Landing_Files",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataset": {
									"referenceName": "DS_Files_NFUJPRD202_GDrive",
									"type": "DatasetReference",
									"parameters": {
										"TargetFilePath": {
											"value": "@variables('v_SourceFilePath')",
											"type": "Expression"
										},
										"TargetFileName": {
											"value": "@item().name",
											"type": "Expression"
										},
										"ColumnDelimiter": {
											"value": "@variables('v_ColumnDelimiter')",
											"type": "Expression"
										},
										"QuoteCharacter": {
											"value": "@variables('v_QuoteCharacter')",
											"type": "Expression"
										},
										"EscapeCharacter": {
											"value": "@variables('v_EscapeCharacter')",
											"type": "Expression"
										},
										"FirstRowHeader": {
											"value": "@variables('v_FirstRowHeader')",
											"type": "Expression"
										}
									}
								},
								"enableLogging": false,
								"storeSettings": {
									"type": "FileServerReadSettings",
									"recursive": false
								}
							}
						}
					]
				}
			},
			{
				"name": "FilterOnlyCSVFiles",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "GetFileNames",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('GetFileNames').output.childitems",
						"type": "Expression"
					},
					"condition": {
						"value": "@not(contains(item().type, 'Folder'))",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"v_SourceFilePath": {
				"type": "String",
				"defaultValue": "QUUSSBI/PowerShellScripts/PowerBI/Files"
			},
			"v_SourceFileName": {
				"type": "String"
			},
			"v_ColumnDelimiter": {
				"type": "String",
				"defaultValue": ","
			},
			"v_QuoteCharacter": {
				"type": "String",
				"defaultValue": "\""
			},
			"v_EscapeCharacter": {
				"type": "String",
				"defaultValue": "\\"
			},
			"v_FirstRowHeader": {
				"type": "String",
				"defaultValue": "1"
			},
			"v_BlobContainerName": {
				"type": "String",
				"defaultValue": "powerbi-tactical-datalanding"
			},
			"v_BlobFolderName": {
				"type": "String",
				"defaultValue": "powerbi\\"
			}
		},
		"folder": {
			"name": "PowerBI Tactical"
		},
		"annotations": [],
		"lastPublishTime": "2022-04-19T00:29:16Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}