pipeline/PL_SEQ_Dam_Levels_Observations.json
{
	"name": "PL_SEQ_Dam_Levels_Observations",
	"properties": {
		"description": "Execute notebook to produce the csv file",
		"activities": [
			{
				"name": "GetSourceID",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "Select SourceID,databricksclusterid,databrickssecretname FROM etl.SourceSystem where \n SourceName='@{pipeline().parameters.Source_Name}'",
							"type": "Expression"
						},
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_ASQL_EDWDiscovery",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "PL_EDWDiscovery_TRFM_BlobToASQL",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "GetSourceID",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "PL_EDWDiscovery_TRFM_BlobToASQL",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"SourceID": {
							"value": "@activity('GetSourceID').output.Firstrow['SourceID']",
							"type": "Expression"
						}
					}
				}
			}
		],
		"parameters": {
			"Source_Name": {
				"type": "string",
				"defaultValue": "SEQ"
			},
			"_load_type": {
				"type": "string",
				"defaultValue": "Incremental_Load"
			}
		},
		"folder": {
			"name": "SEQ"
		},
		"annotations": [],
		"lastPublishTime": "2022-04-19T00:29:21Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}