pipeline/PL_ServiceNow_DM_SourcetoBlob.json
{
	"name": "PL_ServiceNow_DM_SourcetoBlob",
	"properties": {
		"description": "Transfer file to Blob storage",
		"activities": [
			{
				"name": "GetFileNames",
				"type": "GetMetadata",
				"dependsOn": [
					{
						"activity": "Lkp_getFileFolder",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "DS_FS_GlobalScape_ServiceNow",
						"type": "DatasetReference",
						"parameters": {
							"p_FileFolder": {
								"value": "@activity('Lkp_getFileFolder').output.Firstrow['FileFolderName']",
								"type": "Expression"
							}
						}
					},
					"fieldList": [
						"childItems",
						"itemType"
					],
					"storeSettings": {
						"type": "FileServerReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "Lkp_getFileFolder",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "select a.FileFolderName from etl.SourceSystem a\nwhere a.SourceId = '@{pipeline().parameters.sourceid}'",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_ASQL_EDWDiscovery",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "FilterOnlyCSVFiles",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "GetFileNames",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('GetFileNames').output.childitems",
						"type": "Expression"
					},
					"condition": {
						"value": "@endswith(item().name, 'csv')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "ForEachFile",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "FilterOnlyCSVFiles",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('FilterOnlyCSVFiles').output.value",
						"type": "Expression"
					},
					"batchCount": 10,
					"activities": [
						{
							"name": "Switch Input files",
							"type": "Switch",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"on": {
									"value": "@substring(Item().name, 0, indexof(Item().name, '_'))",
									"type": "Expression"
								},
								"cases": [
									{
										"value": "incident",
										"activities": [
											{
												"name": "Copy_Incidents_Files_NFUJPRD200_to_Blob",
												"type": "Copy",
												"dependsOn": [],
												"policy": {
													"timeout": "7.00:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "BinarySource",
														"storeSettings": {
															"type": "FileServerReadSettings",
															"recursive": true
														},
														"formatSettings": {
															"type": "BinaryReadSettings"
														}
													},
													"sink": {
														"type": "BinarySink",
														"storeSettings": {
															"type": "AzureBlobStorageWriteSettings"
														}
													},
													"enableStaging": false
												},
												"inputs": [
													{
														"referenceName": "DS_File_NFUJPRD200_ServiceNow_Source",
														"type": "DatasetReference",
														"parameters": {
															"p_FileFolder": {
																"value": "@activity('Lkp_getFileFolder').output.Firstrow['FileFolderName']",
																"type": "Expression"
															},
															"p_FileName": {
																"value": "@item().name",
																"type": "Expression"
															}
														}
													}
												],
												"outputs": [
													{
														"referenceName": "DS_ABLB_FS_ServiceNow_Sink",
														"type": "DatasetReference",
														"parameters": {
															"p_snk_blob_container_name": {
																"value": "servicenow-datalanding/incidents",
																"type": "Expression"
															},
															"p_snk_blob_file_name": {
																"value": "@item().name",
																"type": "Expression"
															}
														}
													}
												]
											},
											{
												"name": "Archive_Incident_Data",
												"type": "Copy",
												"dependsOn": [
													{
														"activity": "Copy_Incidents_Files_NFUJPRD200_to_Blob",
														"dependencyConditions": [
															"Completed"
														]
													}
												],
												"policy": {
													"timeout": "7.00:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "BinarySource",
														"storeSettings": {
															"type": "FileServerReadSettings",
															"recursive": true,
															"deleteFilesAfterCompletion": false
														},
														"formatSettings": {
															"type": "BinaryReadSettings"
														}
													},
													"sink": {
														"type": "BinarySink",
														"storeSettings": {
															"type": "FileServerWriteSettings"
														}
													},
													"enableStaging": false
												},
												"inputs": [
													{
														"referenceName": "DS_File_NFUJPRD200_ServiceNow_Source",
														"type": "DatasetReference",
														"parameters": {
															"p_FileFolder": {
																"value": "@activity('Lkp_getFileFolder').output.Firstrow['FileFolderName']",
																"type": "Expression"
															},
															"p_FileName": {
																"value": "@item().name",
																"type": "Expression"
															}
														}
													}
												],
												"outputs": [
													{
														"referenceName": "DS_File_NFUJPRD200_ServiceNow_Archive",
														"type": "DatasetReference",
														"parameters": {
															"p_FileFolder": {
																"value": "@activity('Lkp_getFileFolder').output.Firstrow['FileFolderName']",
																"type": "Expression"
															},
															"p_FileName": {
																"value": "@item().name",
																"type": "Expression"
															}
														}
													}
												]
											},
											{
												"name": "Delete_Processed_Incident_File",
												"type": "Delete",
												"dependsOn": [
													{
														"activity": "Archive_Incident_Data",
														"dependencyConditions": [
															"Completed"
														]
													}
												],
												"policy": {
													"timeout": "7.00:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"dataset": {
														"referenceName": "DS_File_NFUJPRD200_ServiceNow_Source",
														"type": "DatasetReference",
														"parameters": {
															"p_FileFolder": {
																"value": "@activity('Lkp_getFileFolder').output.Firstrow['FileFolderName']",
																"type": "Expression"
															},
															"p_FileName": {
																"value": "@item().name",
																"type": "Expression"
															}
														}
													},
													"enableLogging": false,
													"storeSettings": {
														"type": "FileServerReadSettings",
														"recursive": false
													}
												}
											}
										]
									},
									{
										"value": "changerequest",
										"activities": [
											{
												"name": "Copy_ChangeRequests_Files_NFUJPRD200_to_Blob",
												"type": "Copy",
												"dependsOn": [],
												"policy": {
													"timeout": "7.00:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "BinarySource",
														"storeSettings": {
															"type": "FileServerReadSettings",
															"recursive": true
														},
														"formatSettings": {
															"type": "BinaryReadSettings"
														}
													},
													"sink": {
														"type": "BinarySink",
														"storeSettings": {
															"type": "AzureBlobStorageWriteSettings"
														}
													},
													"enableStaging": false
												},
												"inputs": [
													{
														"referenceName": "DS_File_NFUJPRD200_ServiceNow_Source",
														"type": "DatasetReference",
														"parameters": {
															"p_FileFolder": {
																"value": "@activity('Lkp_getFileFolder').output.Firstrow['FileFolderName']",
																"type": "Expression"
															},
															"p_FileName": {
																"value": "@item().name",
																"type": "Expression"
															}
														}
													}
												],
												"outputs": [
													{
														"referenceName": "DS_ABLB_FS_ServiceNow_Sink",
														"type": "DatasetReference",
														"parameters": {
															"p_snk_blob_container_name": {
																"value": "servicenow-datalanding/changerequests",
																"type": "Expression"
															},
															"p_snk_blob_file_name": {
																"value": "@item().name",
																"type": "Expression"
															}
														}
													}
												]
											},
											{
												"name": "Archive_ChangeRequest_Data",
												"type": "Copy",
												"dependsOn": [
													{
														"activity": "Copy_ChangeRequests_Files_NFUJPRD200_to_Blob",
														"dependencyConditions": [
															"Completed"
														]
													}
												],
												"policy": {
													"timeout": "7.00:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "BinarySource",
														"storeSettings": {
															"type": "FileServerReadSettings",
															"recursive": true,
															"deleteFilesAfterCompletion": false
														},
														"formatSettings": {
															"type": "BinaryReadSettings"
														}
													},
													"sink": {
														"type": "BinarySink",
														"storeSettings": {
															"type": "FileServerWriteSettings"
														}
													},
													"enableStaging": false
												},
												"inputs": [
													{
														"referenceName": "DS_File_NFUJPRD200_ServiceNow_Source",
														"type": "DatasetReference",
														"parameters": {
															"p_FileFolder": {
																"value": "@activity('Lkp_getFileFolder').output.Firstrow['FileFolderName']",
																"type": "Expression"
															},
															"p_FileName": {
																"value": "@item().name",
																"type": "Expression"
															}
														}
													}
												],
												"outputs": [
													{
														"referenceName": "DS_File_NFUJPRD200_ServiceNow_Archive",
														"type": "DatasetReference",
														"parameters": {
															"p_FileFolder": {
																"value": "@activity('Lkp_getFileFolder').output.Firstrow['FileFolderName']",
																"type": "Expression"
															},
															"p_FileName": {
																"value": "@item().name",
																"type": "Expression"
															}
														}
													}
												]
											},
											{
												"name": "Delete_Processed_ChangeRequest_File",
												"type": "Delete",
												"dependsOn": [
													{
														"activity": "Archive_ChangeRequest_Data",
														"dependencyConditions": [
															"Completed"
														]
													}
												],
												"policy": {
													"timeout": "7.00:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"dataset": {
														"referenceName": "DS_File_NFUJPRD200_ServiceNow_Source",
														"type": "DatasetReference",
														"parameters": {
															"p_FileFolder": {
																"value": "@activity('Lkp_getFileFolder').output.Firstrow['FileFolderName']",
																"type": "Expression"
															},
															"p_FileName": {
																"value": "@item().name",
																"type": "Expression"
															}
														}
													},
													"enableLogging": false,
													"storeSettings": {
														"type": "FileServerReadSettings",
														"recursive": false
													}
												}
											}
										]
									},
									{
										"value": "requesteditem",
										"activities": [
											{
												"name": "Copy_RequestedItems_Files_NFUJPRD200_to_Blob",
												"type": "Copy",
												"dependsOn": [],
												"policy": {
													"timeout": "7.00:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "BinarySource",
														"storeSettings": {
															"type": "FileServerReadSettings",
															"recursive": true
														},
														"formatSettings": {
															"type": "BinaryReadSettings"
														}
													},
													"sink": {
														"type": "BinarySink",
														"storeSettings": {
															"type": "AzureBlobStorageWriteSettings"
														}
													},
													"enableStaging": false
												},
												"inputs": [
													{
														"referenceName": "DS_File_NFUJPRD200_ServiceNow_Source",
														"type": "DatasetReference",
														"parameters": {
															"p_FileFolder": {
																"value": "@activity('Lkp_getFileFolder').output.Firstrow['FileFolderName']",
																"type": "Expression"
															},
															"p_FileName": {
																"value": "@item().name",
																"type": "Expression"
															}
														}
													}
												],
												"outputs": [
													{
														"referenceName": "DS_ABLB_FS_ServiceNow_Sink",
														"type": "DatasetReference",
														"parameters": {
															"p_snk_blob_container_name": {
																"value": "servicenow-datalanding/requestitems",
																"type": "Expression"
															},
															"p_snk_blob_file_name": {
																"value": "@item().name",
																"type": "Expression"
															}
														}
													}
												]
											},
											{
												"name": "Archive_RequestedItem_Data",
												"type": "Copy",
												"dependsOn": [
													{
														"activity": "Copy_RequestedItems_Files_NFUJPRD200_to_Blob",
														"dependencyConditions": [
															"Completed"
														]
													}
												],
												"policy": {
													"timeout": "7.00:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "BinarySource",
														"storeSettings": {
															"type": "FileServerReadSettings",
															"recursive": true,
															"deleteFilesAfterCompletion": false
														},
														"formatSettings": {
															"type": "BinaryReadSettings"
														}
													},
													"sink": {
														"type": "BinarySink",
														"storeSettings": {
															"type": "FileServerWriteSettings"
														}
													},
													"enableStaging": false
												},
												"inputs": [
													{
														"referenceName": "DS_File_NFUJPRD200_ServiceNow_Source",
														"type": "DatasetReference",
														"parameters": {
															"p_FileFolder": {
																"value": "@activity('Lkp_getFileFolder').output.Firstrow['FileFolderName']",
																"type": "Expression"
															},
															"p_FileName": {
																"value": "@item().name",
																"type": "Expression"
															}
														}
													}
												],
												"outputs": [
													{
														"referenceName": "DS_File_NFUJPRD200_ServiceNow_Archive",
														"type": "DatasetReference",
														"parameters": {
															"p_FileFolder": {
																"value": "@activity('Lkp_getFileFolder').output.Firstrow['FileFolderName']",
																"type": "Expression"
															},
															"p_FileName": {
																"value": "@item().name",
																"type": "Expression"
															}
														}
													}
												]
											},
											{
												"name": "Delete_Processed_RequestedItem_File",
												"type": "Delete",
												"dependsOn": [
													{
														"activity": "Archive_RequestedItem_Data",
														"dependencyConditions": [
															"Completed"
														]
													}
												],
												"policy": {
													"timeout": "7.00:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"dataset": {
														"referenceName": "DS_File_NFUJPRD200_ServiceNow_Source",
														"type": "DatasetReference",
														"parameters": {
															"p_FileFolder": {
																"value": "@activity('Lkp_getFileFolder').output.Firstrow['FileFolderName']",
																"type": "Expression"
															},
															"p_FileName": {
																"value": "@item().name",
																"type": "Expression"
															}
														}
													},
													"enableLogging": false,
													"storeSettings": {
														"type": "FileServerReadSettings",
														"recursive": false
													}
												}
											}
										]
									},
									{
										"value": "requestitemtask",
										"activities": [
											{
												"name": "Copy_Task_Files_NFUJPRD200_to_Blob",
												"type": "Copy",
												"dependsOn": [],
												"policy": {
													"timeout": "7.00:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "BinarySource",
														"storeSettings": {
															"type": "FileServerReadSettings",
															"recursive": true
														},
														"formatSettings": {
															"type": "BinaryReadSettings"
														}
													},
													"sink": {
														"type": "BinarySink",
														"storeSettings": {
															"type": "AzureBlobStorageWriteSettings"
														}
													},
													"enableStaging": false
												},
												"inputs": [
													{
														"referenceName": "DS_File_NFUJPRD200_ServiceNow_Source",
														"type": "DatasetReference",
														"parameters": {
															"p_FileFolder": {
																"value": "@activity('Lkp_getFileFolder').output.Firstrow['FileFolderName']",
																"type": "Expression"
															},
															"p_FileName": {
																"value": "@item().name",
																"type": "Expression"
															}
														}
													}
												],
												"outputs": [
													{
														"referenceName": "DS_ABLB_FS_ServiceNow_Sink",
														"type": "DatasetReference",
														"parameters": {
															"p_snk_blob_container_name": {
																"value": "servicenow-datalanding/task",
																"type": "Expression"
															},
															"p_snk_blob_file_name": {
																"value": "@item().name",
																"type": "Expression"
															}
														}
													}
												]
											},
											{
												"name": "Archive_RequestedItemTask_Data",
												"type": "Copy",
												"dependsOn": [
													{
														"activity": "Copy_Task_Files_NFUJPRD200_to_Blob",
														"dependencyConditions": [
															"Completed"
														]
													}
												],
												"policy": {
													"timeout": "7.00:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "BinarySource",
														"storeSettings": {
															"type": "FileServerReadSettings",
															"recursive": true,
															"deleteFilesAfterCompletion": false
														},
														"formatSettings": {
															"type": "BinaryReadSettings"
														}
													},
													"sink": {
														"type": "BinarySink",
														"storeSettings": {
															"type": "FileServerWriteSettings"
														}
													},
													"enableStaging": false
												},
												"inputs": [
													{
														"referenceName": "DS_File_NFUJPRD200_ServiceNow_Source",
														"type": "DatasetReference",
														"parameters": {
															"p_FileFolder": {
																"value": "@activity('Lkp_getFileFolder').output.Firstrow['FileFolderName']",
																"type": "Expression"
															},
															"p_FileName": {
																"value": "@item().name",
																"type": "Expression"
															}
														}
													}
												],
												"outputs": [
													{
														"referenceName": "DS_File_NFUJPRD200_ServiceNow_Archive",
														"type": "DatasetReference",
														"parameters": {
															"p_FileFolder": {
																"value": "@activity('Lkp_getFileFolder').output.Firstrow['FileFolderName']",
																"type": "Expression"
															},
															"p_FileName": {
																"value": "@item().name",
																"type": "Expression"
															}
														}
													}
												]
											},
											{
												"name": "Delete_Processed_RequestItemTask_file",
												"type": "Delete",
												"dependsOn": [
													{
														"activity": "Archive_RequestedItemTask_Data",
														"dependencyConditions": [
															"Completed"
														]
													}
												],
												"policy": {
													"timeout": "7.00:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"dataset": {
														"referenceName": "DS_File_NFUJPRD200_ServiceNow_Source",
														"type": "DatasetReference",
														"parameters": {
															"p_FileFolder": {
																"value": "@activity('Lkp_getFileFolder').output.Firstrow['FileFolderName']",
																"type": "Expression"
															},
															"p_FileName": {
																"value": "@item().name",
																"type": "Expression"
															}
														}
													},
													"enableLogging": false,
													"storeSettings": {
														"type": "FileServerReadSettings",
														"recursive": false
													}
												}
											}
										]
									},
									{
										"value": "approval",
										"activities": [
											{
												"name": "Copy_Approvals_Files_NFUJPRD200_to_Blob",
												"type": "Copy",
												"dependsOn": [],
												"policy": {
													"timeout": "7.00:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "BinarySource",
														"storeSettings": {
															"type": "FileServerReadSettings",
															"recursive": true
														},
														"formatSettings": {
															"type": "BinaryReadSettings"
														}
													},
													"sink": {
														"type": "BinarySink",
														"storeSettings": {
															"type": "AzureBlobStorageWriteSettings"
														}
													},
													"enableStaging": false
												},
												"inputs": [
													{
														"referenceName": "DS_File_NFUJPRD200_ServiceNow_Source",
														"type": "DatasetReference",
														"parameters": {
															"p_FileFolder": {
																"value": "@activity('Lkp_getFileFolder').output.Firstrow['FileFolderName']",
																"type": "Expression"
															},
															"p_FileName": {
																"value": "@item().name",
																"type": "Expression"
															}
														}
													}
												],
												"outputs": [
													{
														"referenceName": "DS_ABLB_FS_ServiceNow_Sink",
														"type": "DatasetReference",
														"parameters": {
															"p_snk_blob_container_name": {
																"value": "servicenow-datalanding/approvals",
																"type": "Expression"
															},
															"p_snk_blob_file_name": {
																"value": "@item().name",
																"type": "Expression"
															}
														}
													}
												]
											},
											{
												"name": "Archive_Approval_Data",
												"type": "Copy",
												"dependsOn": [
													{
														"activity": "Copy_Approvals_Files_NFUJPRD200_to_Blob",
														"dependencyConditions": [
															"Completed"
														]
													}
												],
												"policy": {
													"timeout": "7.00:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "BinarySource",
														"storeSettings": {
															"type": "FileServerReadSettings",
															"recursive": true,
															"deleteFilesAfterCompletion": false
														},
														"formatSettings": {
															"type": "BinaryReadSettings"
														}
													},
													"sink": {
														"type": "BinarySink",
														"storeSettings": {
															"type": "FileServerWriteSettings"
														}
													},
													"enableStaging": false
												},
												"inputs": [
													{
														"referenceName": "DS_File_NFUJPRD200_ServiceNow_Source",
														"type": "DatasetReference",
														"parameters": {
															"p_FileFolder": {
																"value": "@activity('Lkp_getFileFolder').output.Firstrow['FileFolderName']",
																"type": "Expression"
															},
															"p_FileName": {
																"value": "@item().name",
																"type": "Expression"
															}
														}
													}
												],
												"outputs": [
													{
														"referenceName": "DS_File_NFUJPRD200_ServiceNow_Archive",
														"type": "DatasetReference",
														"parameters": {
															"p_FileFolder": {
																"value": "@activity('Lkp_getFileFolder').output.Firstrow['FileFolderName']",
																"type": "Expression"
															},
															"p_FileName": {
																"value": "@item().name",
																"type": "Expression"
															}
														}
													}
												]
											},
											{
												"name": "Delete_Processed_Approval_file",
												"type": "Delete",
												"dependsOn": [
													{
														"activity": "Archive_Approval_Data",
														"dependencyConditions": [
															"Completed"
														]
													}
												],
												"policy": {
													"timeout": "7.00:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"dataset": {
														"referenceName": "DS_File_NFUJPRD200_ServiceNow_Source",
														"type": "DatasetReference",
														"parameters": {
															"p_FileFolder": {
																"value": "@activity('Lkp_getFileFolder').output.Firstrow['FileFolderName']",
																"type": "Expression"
															},
															"p_FileName": {
																"value": "@item().name",
																"type": "Expression"
															}
														}
													},
													"enableLogging": false,
													"storeSettings": {
														"type": "FileServerReadSettings",
														"recursive": false
													}
												}
											}
										]
									}
								]
							}
						}
					]
				}
			}
		],
		"parameters": {
			"SourceId": {
				"type": "string",
				"defaultValue": "61"
			}
		},
		"variables": {
			"v_blob_container_name": {
				"type": "String",
				"defaultValue": "servicenow-datalanding"
			}
		},
		"folder": {
			"name": "Service Now"
		},
		"annotations": [],
		"lastPublishTime": "2022-04-19T00:29:29Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}