pipeline/PL_SUMS_SourcetoBlob.json
{
	"name": "PL_SUMS_SourcetoBlob",
	"properties": {
		"activities": [
			{
				"name": "SUMS_Copy_to_Blob",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "lkp_getfilemetadata",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "FileServerReadSettings",
							"recursive": false,
							"wildcardFileName": "*.*",
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobStorageWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".csv"
						}
					},
					"enableStaging": false,
					"dataIntegrationUnits": 2
				},
				"inputs": [
					{
						"referenceName": "DS_FS_GlobalScape_SUMS",
						"type": "DatasetReference",
						"parameters": {
							"filefolder": {
								"value": "@activity('Lkp_getfilemetadata').output.Firstrow['FileFolderName']",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "DS_ABLB_FS_SUMS",
						"type": "DatasetReference",
						"parameters": {
							"targetblobfoldername": {
								"value": "@variables('targetblobfoldername')",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "Archive_Data",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "SUMS_Copy_to_Blob",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "FileServerReadSettings",
							"recursive": false,
							"wildcardFileName": "*.*",
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "FileServerWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".csv"
						}
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "DS_FS_GlobalScape_SUMS",
						"type": "DatasetReference",
						"parameters": {
							"filefolder": {
								"value": "@activity('Lkp_getfilemetadata').output.Firstrow['FileFolderName']",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "DS_FS_GlobalScape_SUMS",
						"type": "DatasetReference",
						"parameters": {
							"filefolder": {
								"value": "@concat(activity('lkp_getfilemetadata').output.Firstrow['FileFolderName'],'\\Archive')",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "Delete_Old_From_Ventia",
				"type": "Delete",
				"dependsOn": [
					{
						"activity": "Archive_Data",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "DS_FS_GlobalScape_SUMS",
						"type": "DatasetReference",
						"parameters": {
							"filefolder": {
								"value": "@activity('Lkp_getfilemetadata').output.Firstrow['FileFolderName']",
								"type": "Expression"
							}
						}
					},
					"enableLogging": false,
					"storeSettings": {
						"type": "FileServerReadSettings",
						"recursive": false,
						"wildcardFileName": "*.*"
					}
				}
			},
			{
				"name": "lkp_getfilemetadata",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "select  FileFolderName\nfrom etl.sourcesystem\nwhere sourcename = '@{pipeline().parameters.sourcename}'",
							"type": "Expression"
						},
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_ASQL_EDWDiscovery",
						"type": "DatasetReference"
					}
				}
			}
		],
		"parameters": {
			"sourcename": {
				"type": "string",
				"defaultValue": "SUMS"
			}
		},
		"variables": {
			"targetblobfoldername": {
				"type": "String",
				"defaultValue": "sums-datalanding"
			}
		},
		"folder": {
			"name": "SUMS"
		},
		"annotations": [],
		"lastPublishTime": "2022-04-19T00:29:18Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}